



{% block body %}
    

{#    {{ form_start(form) }}#}
    {{ form_start(form, {'action': path('admin_proveedor_new')}) }}
{#<form action="{{ path('admin_tipoparametro_new') }}" method="post" {{ form_enctype(form) }}>#}
    {{ form_errors(form) }}
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 col-xs-5 text-right">
                Company:
            </div>
            <div class="col-md-7 col-xs-7">
                {{ form_widget(form.empresa) }}
            </div>
        
            <div class="clearfix"></div>
            
            
            <div class="col-md-5 col-xs-5 text-right" style="margin-top: 10px;">
                Contact:
            </div>
            <div class="col-md-7 col-xs-7" style="margin-top: 10px;">
                {{ form_widget(form.contacto) }}
            </div>
        
            <div class="clearfix"></div>
            
            
            <div class="col-md-5 col-xs-5 text-right" style="margin-top: 10px;">
                Phone:
            </div>
            <div class="col-md-7 col-xs-7" style="margin-top: 10px;">
                {{ form_widget(form.telefono) }}
            </div>
        
            <div class="clearfix"></div>
            
        </div>
        
            
    
        <input type="submit" value="Create" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>
{#</form>#}
    {{ form_end(form) }}

    {#<ul>
        <li>
            <a href="{{ path('admin_tipoparametro_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
{% block javascripts %}
   <script src="{{ asset('Resources/js/validaciones/proveedor.js') }}"></script>

    <script>
        $(document).ready(function(){
            validar();   
        });
    </script>
{% endblock %}  