{% extends 'base.html.twig' %}

{% block body %}
    <h1>Venta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ventum.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if ventum.fecha %}{{ ventum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ ventum.monto }}</td>
            </tr>
            <tr>
                <th>Clienteid</th>
                <td>{{ ventum.clienteId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_venta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_venta_edit', { 'id': ventum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
