{% extends ':Layout:layout.html.twig' %}

{% block section %} {{ detalleOrden.categoria }} {% endblock %}
{% block section2 %}Show / {{ detalleOrden.categoria }} {% endblock %}

{% block sidebar %}
    {% include ':Layout:accountsidebar.html.twig'%}
        <div class="category-left-banner">
            <a href="#" title="category left banner">
                    {% block img_prom %}
                        <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
                    {% endblock %}
            </a>
        </div>
    </aside>
{% endblock %}

{% block contenido %}
    <div id="resultado"></div>
    <section class="category grid col-sm-9 col-xs-12" id="contenidoProducto">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ detalleOrden.categoria.categoria }} > {{ detalleOrden.categoria }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-6">
                <div class="col-sm-11 col-sm-offset-1 col-xs-12" style="width: 100%;">
                    <img src="{{ asset('Photos/promotions/')}}{{ detalleOrden.categoria.imagen }}" alt="{{ detalleOrden.categoria.nombre }}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12 col-xs-12">
                    {#<div class="v-middle">#}
                        <h3 style="font-size: 1.3em; font-weight: bold;"> {{ detalleOrden.categoria }} </h3>
                        <hr>
                        <ul>
                            {% for attribute in attributes %}
                                <li><i class="fa fa-check"></i> 
                                    <span style="font-size: 1.14em;  font-weight: bold;">{{ attribute.detalleParametro.parametro }}:</span>
                                    <span style="font-size: 1.14em;"> {{ attribute.detalleParametro.nombre }}.</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <div style="background-color: #25bce9; padding-top: 7px; padding-bottom: 7px; margin-top: 40px">
                            <h3 class="text-center" style="font-size: 1.5em; color: #FFF"> Printing Cost: $ {{ detalleOrden.monto  | number_format(2, '.', ',') }} </h3>
                        </div>
                    {#</div>#}
                </div>
            </div>
                
            <div class="clearfix"></div>    
            <div class="col-sm-7 col-xs-12" style=" margin-top: 35px">
                <div class="col-sm-11 col-sm-offset-1 col-xs-12">
                    <h3 style="font-size: 1.3em; font-weight: bold;"> Information </h3>
                    <hr>
                    <ul>
                        <li><span class="avalue" style="font-size: 1.1em;">Client name: {{ detalleOrden.orden.usuario.persona }}</span></li>
                        <li><span class="avalue" style="font-size: 1.1em;">Email: {{ detalleOrden.orden.usuario.email }}</span></li>
                        {% if detalleOrden.orden.direccionEnvio %}
                            <li><span class="avalue" style="font-size: 1.1em;">Address: {{ detalleOrden.orden.direccionEnvio.linea1 }}, {{ detalleOrden.orden.direccionEnvio.city }}, {{ detalleOrden.orden.direccionEnvio.state }}.</span></li>
                            <li><span class="avalue" style="font-size: 1.1em;">Phone number: {{ detalleOrden.orden.direccionEnvio.phoneNumber }}</span></li>
                        {% endif %}    
                    </ul>
                </div>
            </div>
            <div class="col-sm-4  col-xs-12" style=" margin-top: 35px">
                <h3 style="font-size: 1.3em; font-weight: bold;"> Download design </h3>
                <hr>
                <ul>
                    <li><span class="avalue" style="font-size: 1em;">File: {{ detalleOrden.archivo }}</span></li>
                </ul>
                <br>
                <a href="{{ asset('Photos/promotions/')}}{{ detalleOrden.archivo }}" download><button class="form-control"><i class="fa fa-download"></i> Download</button></a>
            </div> 
        </div>        
    </section>
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
   
{% endblock %}