{% extends ':Layout:layout.html.twig' %}

{% block css -%}
    {{parent()}}
    <style>
        .acc-title.lg > div:nth-child(2)> a:hover >i {
            color: #000;
            opacity:0.6;
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="acc-title lg">
        <div class="col-md-5 pull-left">
            <h3 class="" style="color:#FFF;">Lista de tipos de categoria</h3>
        </div>
        <div class="col-md-7 pull-right" >
            <a id="accion" href="{{ path('admin_tipocategoria_new') }}" class="pull-right nuevo-registro" style="color:#FFF;">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <div id="resultado"></div>
    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
{#                    <th>Id</th>#}
                    <th>Nombre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tipoCategorium in tipoCategorias %}
                <tr>
{#                    <td><a href="{{ path('admin_tipocategoria_show', { 'id': tipoCategorium.id }) }}">{{ tipoCategorium.id }}</a></td>#}
                    <td>{{ tipoCategorium.nombre }}</td>
                    <td>
                        <a class="text-center edit-registro pull-right" style="margin-top: 3px;"  href="{{ path('admin_tipocategoria_edit', { 'id': tipoCategorium.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#<ul>
        <li>
            <a href="{{ path('admin_tipocategoria_new') }}">Create a new entry</a>
        </li>
    </ul>#}
{% endblock %}


{% block javascripts_step %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('Resources/jquery-ui/jquery-ui.js') }}"></script>
    <script>
                $(document).ready(function(){
                    
                    $('.listados').DataTable({
                        {#searching:true,#}
                        "order":[[0,"desc"]],
                        "columnDefs": [
                               { "orderable": true, "targets": 0 },
{#                               { "orderable": false, "targets": 3 }#}
                               { "orderData": [ 0 ], "targets": 0}
                            ],
                        {#"language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"#}
{#                    },          #}

                    });
                    $('.dataTables_filter').addClass('pull-right ');
                    $('.dataTables_filter').children().children().attr('placeholder','');
                   
                    
                    $('.nuevo-registro').on("click",function(){
                        {#$( "#dialog" ).dialog();
                        return false;#}
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:25%; position:inherit; float:right; " src="{{ asset('Resources/images/89.gif') }}">');
                        
                        var href = $(this).attr('href');
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
 
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
 
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "New category type",
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.nuevo-registro').html(mas);
                            
                        });
                        
                        return false;
                    });
                    
                    $(document).on("click", '.edit-registro',function(){
                        {#$( "#dialog" ).dialog();
                        return false;#}
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:25%; position:inherit; float:right; " src="{{ asset('Resources/images/89C.gif') }}">');
                        
                        var href = $(this).attr('href');
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
                        
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
{#                        return false;#}
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "Edit category type",
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.edit-registro').html(mas);
                            
                        });
                        
                        return false;
                    });
                    
                });

            </script>

{% endblock %}