

{% block body %}
    
    
        

    {{ form_start(form, {'action': path('admin_parametro_new')}) }}
    {{ form_errors(form) }}
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-6 text-right">
                Name:
            </div>
            <div class="col-md-6">
                {{ form_widget(form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
            {#<div class="col-md-6 text-right">
                Parametro:
            </div>
            <div class="col-md-6">
                {{ form_widget(form.parametro) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            <div class="col-md-6 text-right">
                Attribute type:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.tipoCategoria) }}
            </div>
            
            <div class="clearfix"></div>
            
            {#<div class="col-md-6 text-right">
                Categoria:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.categoria) }}
            </div>
            
            <div class="clearfix"></div>          #}
            
            {#<div class="col-md-6 text-right">
                Formato plantilla:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.formatoPlantilla) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            <div class="col-md-6 text-right">
                Detail:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.detalleCategoria) }}
            </div>
            
        </div>
        
            
    
        <input type="submit" value="Create" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>

    {{ form_end(form) }}
    
    {#<ul>
        <li>
            <a href="{{ path('admin_parametro_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
