{% block css %}

    <style>
        
        .listado{
            max-height:400px;
        }
        
        .addItem{
            position: absolute;
            height: 20px;
            float: right;
            {#margin-bottom: 50px;
            padding-bottom: 100px;#}
            top: -50px;
            left: -2px;
        }
        
            .addItem div {
                position: absolute;
            }
        
        #coleccionNew{
            overflow-y: auto;
            max-height: 540px; 
            width: 100%;
        }    
    </style>
    
    
{% endblock %}

{% block body %}
    
    
        

    {{ form_start(form, {'action': path('admin_parametro_new')}) }}
    {{ form_errors(form) }}
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 col-sm-5 text-right" style="margin-bottom: 4px;">
                Name:
            </div>
            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                {{ form_widget(form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
            {#<div class="col-md-6 text-right">
                Parametro:
            </div>
            <div class="col-md-6">
                {{ form_widget(form.parametro) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            {#<div class="col-md-5 col-sm-5 text-right">
                Attribute type:
            </div>#}
            {#<div class="col-md-4 col-sm-4">
                {{ form_widget(form.tipoCategoria) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            {#<div class="col-md-6 text-right">
                Categoria:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.categoria) }}
            </div>
            
            <div class="clearfix"></div>          #}
            
            {#<div class="col-md-6 text-right">
                Formato plantilla:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.formatoPlantilla) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            {#<div class="col-md-12 text-left">
                Detail:
            </div>#}
            {#<div class="col-xs-12 col-sm-4">
                {{ form_widget(form.detalleCategoria) }}
            </div>#}
            {#<div class="col-md-6 text-right">
                Detail:
            </div>#}
            <div id="coleccionNew">
                <div id="listadoa" style="margin-top:70px;">
                    <div class="listado col-md-12">          
                        <div class="coleccion" data-prototype="{% filter escape %}  {% include 'DGImpresionBundle:Prototype:detalleparametro.html.twig' with { 'form': form.coleccion.vars.prototype} %}   {% endfilter  %}"> 
                            {{ form_widget(form.coleccion) }}
                        </div>
                    </div>
                </div>
            </div>
                        
        </div>
        
            
    
        <input type="submit" value="Create" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>

    {{ form_end(form) }}
    
    {#<ul>
        <li>
            <a href="{{ path('admin_parametro_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
{% block javascripts %}
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script> 
   <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
    <script src="{{ asset('Resources/js/validaciones/parametro.js') }}"></script>

    <script>
        $(document).ready(function(){
            validar();   
        });
    </script>
{% endblock %}

{% block javascript_step %}
    
    
    <script>
        
        
        var collectionHolder = $('div.coleccion');
        var col=$('#hnr_sircimbundle_estudioradiologicotype_placas');
        // setup an "add a tag" link
        var $addTagLink = $('<div class="row"><div class="col-md-12"><a href="#" class="add_placa_link btn btn-primary">Add detail</a></div></div>');
        {#var $addTagLink = $('<div class="row"><div class="col-md-12"><a href="#" class="add_detail add_placa_link btn btn-primary">Add detail</a></div></div>');#}
        var $removeTagLink = $('<a href="#" class="remove_placa_link btn btn-danger">Eliminar</a>');
        var $newLinkLi = $('<div class="col-md-12 addItem"></div>').append($addTagLink);
        var $delLinkLi = $('#hnr_sircimbundle_estudioradiologicotype_placas.required').append($removeTagLink);



        jQuery(document).ready(function() { 

            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            //Identificar que form esta activo
            /*var editar=$('div.placas').attr('id');
            if(editar!='editar_usuario'){*/
            addTagForm(collectionHolder, $newLinkLi);   //Muestra un formulario en la carga de la página nuevo

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm(collectionHolder, $newLinkLi);
                // $('.btn_radio').attr('name', 'rol_predet');
            });


    {#     validarConsulta();#}

        });

    function addTagForm(collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = collectionHolder.data('prototype');

        // get the new index
        var index = collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="col-md-4"></div>').append(newForm);
        $newLinkLi.before($newFormLi);

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
{#         validarConsulta();#}
        $('.btn_radio').click(function(event) {
            /* Act on the event */
            var id = $(this).attr('id');
            // alert(id);
            $('.btn_radio').prop('checked', false);
            $('#'+id).prop('checked', true);
            $('.btn_radio').removeClass('errorform');
        });
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<div class="col-md-1"><a class="link btn btn-danger" href="#">Eliminar</a></div>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $('input[name="rol_predet"]:checked').each(function() {
                //$(this).val() es el valor del checkbox correspondiente
               // alert('chequeado'); 
               $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
            });

            $tagFormLi.remove();
        });
    }
    </script>
    
{% endblock %}