{% extends ':Layout:layout.html.twig' %}

{% block section %}
    Users
{% endblock %}

{% block section2 %}
    Users
{% endblock %}

{% block contenido %}
    <div id="resultado"></div>
    <div class="acc-title lg">
        <div class="col-md-5 pull-left">
            <h3 class="" style="color:#FFF;">Users list</h3>
        </div>
        <div class="col-md-7 pull-right" >
            <a href="{{ path('admin_usuario_new') }}" class="pull-right nuevo-registro" style="color:#FFF;">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
    
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.persona }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a class="text-center edit-registro pull-right" style="margin-top: 3px;"  href="{{ path('admin_usuario_edit', { 'id': usuario.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        {#<ul>
            <li>
                <a href="{{ path('admin_usuario_new') }}">Create a new entry</a>
            </li>
        </ul>#}
{% endblock %}

{% block javascripts_step %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('Resources/jquery-ui/jquery-ui.js') }}"></script>
    <script>
                $(document).ready(function(){
                    
                    $('.listados').DataTable({
                        "order":[[0,"desc"]],
                        "columnDefs": [
                               { "orderable": false, "targets": 2 }
                              
                            ],
                    });
                    $('.dataTables_filter').addClass('pull-right ');
                    $('.dataTables_filter').children().children().attr('placeholder','');
                   
                    
                    $('.nuevo-registro').on("click",function(){
                       
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:25%; position:inherit; float:right; " src="{{ asset('Resources/images/89.gif') }}">');
                        
                        var href = $(this).attr('href');
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
 
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
 
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "Register new user",
                                resizable: false,
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.nuevo-registro').html(mas);
                            
                        });
                        
                        return false;
                    });
                    
                    $('.edit-registro').on("click",function(){
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:25%; position:inherit; float:right; " src="{{ asset('Resources/images/89C.gif') }}">');
                        
                        var href = $(this).attr('href');
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
                        
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
{#                        return false;#}
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "Edit user information",
                                resizable: false,
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.edit-registro').html(mas);
                            
                        });
                        
                        return false;
                    });
                    
                });

            </script>

{% endblock %}
