<html lang="es">
    <head>
        {%block head -%} 
            {% block meta -%}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes"/>
            {% endblock%}
            
            {% block title -%}<title>{% block titlename -%} .::: Expressions | Printing & Graphics :::. {% endblock %}</title>{% endblock %}

            <!-- Declaracion de Archivo de Bootstrap -->	
            {% block css -%}    
                {# <link rel="stylesheet" href="{{ asset('Resources/bootstrap-3/css/bootstrap.css') }}" />#}
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/css/style-main.css') }}"> 
                
                <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Arimo:500,300,700,400' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:500,300,700,400' rel='stylesheet' type='text/css'>
            {%- endblock %}
            {% block estilos -%}    
            
            {%- endblock %}
        {%- endblock%}
    </head>
    <body>
        {% block body -%}  
            <header>
                <!--Top Header: Begin-->
                {% block topheader %}
                    {% include ':Layout:top_header.html.twig'%}
                {% endblock %}
                <!-- Barra de navegacion -->
                {% block navigation %}
                    {% include ':Layout:navigation.html.twig'%}
                {% endblock %}
            </header>
            <!--Main index : Begin-->
            {% block main %}
            <main class="main category">
                {% block headerpage %}
                    <section class="header-page">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs">
                                    <h1 class="mh-title">
                                    {% block section %}{% endblock %}       
                                    </h1>
                                </div>
                                <div class="breadcrumb-w col-sm-9"> 
                                    <span>You are here:</span>
                                    <ul class="breadcrumb">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <span>{% block section2 %}{% endblock %}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock %}
                {% block contenido -%}
                    {% block slider %}
                        {% include ':Layout:slider.html.twig'%}
                    {% endblock %}
                    {% block promotion %}
                        {#{% include ':Layout:promotion_product.html.twig'%}#}
                        <!--Home Promotions Products : Begin -->
                        <section class="home-promotion-product home-product parten-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="block-title-w">
                                        <h2 class="block-title">Promotions</h2> 
                                        <span class="icon-title">
                                            <span></span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                    <ul class="slider-w slider-owl">
                                        {% for row in prom_random %}        
                                            <li class="pro-item">
                                                <div class="product-image-action">
                                                    <img src="{#{{ asset('Photos/promotions/')}}{{row.imagen}}#}http://placehold.it/263x263" title="{{ row.nombre|upper }}" style=" height: 263px">

                                                </div>
                                                <div class="product-info">
                                                    <a href="#" title="product" class="product-name">{{ row.nombre|upper }}</a>
                                                    <div class="price-box">
                                                        {#<span class="normal-price">{{row.porcentaje}}%</span>#}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}    
                                    </ul>
                                </div>
                            </div>
                        </section><!--Home Promotions Products : End -->
                    {% endblock %}
                    {% block features %}
                        {% include ':Layout:features.html.twig'%}
                    {% endblock %}
                    {% block newTemplates %}
                        {% include ':Layout:new_templates.html.twig'%}
                    {% endblock %}
                    
                    {% block makeOrder %}
                        {% include ':Layout:make_order.html.twig'%}
                    {% endblock %}
                {% endblock %} 
                <div style="margin-bottom: 25px"></div>
            </main>
            {% endblock %}
            <footer>
                {% block footer %}
                    {% include ':Layout:footer.html.twig'%}
                {% endblock %}
            </footer>
        {% endblock %}  
        
        
        
        {% block javascripts_step %}
            <script type="text/javascript" src="{{ asset('Resources/js/jquery/jquery-1.11.3.min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/bootstrap.min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/owl.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/js/Chart.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/doughnutit.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/slideshow/jquery.themepunch.revolution.js') }}"></script>   
            <script type="text/javascript" src="{{ asset('Resources/js/slideshow/jquery.themepunch.plugins.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('Resources/js/theme-home.js') }}"></script>  
            
            <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>            
            
            <script>
                $(document).ready(function () {
                    //if ( $("#show-cart") ) {
                        $.post( "{{path('show-cart')}}", function( data ) {
                            //alert('aqui');
                            var draw = '';
                            draw+='<span class="mcart-icon dropdowSCIcon"><i class="fa fa-shopping-cart"></i><span class="mcart-dd-qty">' + data.cart.length + '</span></span>';
                            draw+='<div class="mcart-dd-content dropdowSCContent clearfix">';
                            
                            if(data.cart.length !== 0){
                                $.each( data.cart, function( key, value ) { 
                                    if(key <= 2) {
                                        if(key === 0) {
                                            draw+='<div class="mcart-item-w clearfix1">';
                                            draw+='<ul>';
                                            draw+= '<li class="mcart-item">';

                                        } else {
                                            draw+='<div class="mcart-item-w clearfix">';
                                            draw+='<ul>';
                                            draw+= '<li class="mcart-item iteam2">';
                                        }    

                                        draw+='<div class="row" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;">';
                                        //draw+='<div class="col-md-4"style="margin-top: 5px">';
                                        draw+='<img src="{{ asset('Photos/promotions/')}}' + value.image + '" alt="' + value.product + '" width="50px" height="50px">';
                                        //draw+='</div>';
                                        draw+='<div class="mcart-info">';
                                        draw+='<span class="mcart-name">' + value.product + '</span>';
                                        draw+='<br>';
                                        draw+='<span class="mcart-price">$ ' + parseFloat(value.monto).toFixed(2) + '</span>';
                                        //draw+='<span class="mcart-remove-item"><i class="fa fa-times-circle"></i></span>';
                                        draw+='</div>';
                                        draw+='</div>';
                                        draw+='</li>';
                                        draw+='</ul>';
                                        draw+='</div>';
                                    }
                                });
                                
                                draw+='<div style="margin-top: 15px"></div>';
                                draw+='<div class="mcart-links buttons-set clearfix pull-right">';
                                draw+='<a href="{{ path('orden_show') }}" class="gbtn mcart-link-cart">View Cart</a>';
                                draw+='</div>';
                            } else {
                                draw+='<div class="mcart-item-w clearfix1">';
                                draw+='<ul>';
                                draw+= '<li class="mcart-item">';
                                draw+='<div class="row" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;">';
                                draw+='<div class="mcart-info text-center">';
                                draw+='<span class="mcart-name">No items</span>';
                                draw+='</div>';
                                draw+='</div>';
                                draw+='</li>';
                                draw+='</ul>';
                                draw+='</div>';
                            }
                            draw+='</div>';
                            
                            document.getElementById('show-cart').innerHTML = draw;                        
                        });
                    //}
                });
            </script>  
            
                
        {% endblock %}      
    </body>
</html>    