<html lang="es">
    <head>
        {%block head -%} 
            {% block meta -%}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock%}
            
            {% block title -%}<title>{% block titlename -%} .::: Expressions | Printing & Graphics :::. {% endblock %}</title>{% endblock %}

            <!-- Declaracion de Archivo de Bootstrap -->	
            {% block css -%}    
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/css/style-main.css') }}"> 
                
                <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
               {# <link rel="stylesheet" href="/resources/demos/style.css">#}
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/jquery-ui/jquery-ui.css') }}"> 
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/jquery-ui/jquery-ui.theme.css') }}"> 
                
                <link rel="stylesheet" href="{{ asset('Resources/jquery-ui/jquery-ui.css') }}">
                
{#                <link rel="stylesheet" href="/resources/demos/style.css">#}
                <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/css/customcss.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}" />
                
                <link rel="stylesheet" href="{{ asset('Resources/css/redmond/jquery-ui-1.10.4.custom.css') }}" />
                
                <link rel="stylesheet" href="{{ asset('Resources/js/alertifyjs/css/alertify.css') }}">

                
                <link rel="stylesheet" href="{{ asset('Resources/js/alertifyjs/css/themes/semantic.css') }}">
                <!-- include boostrap theme  -->
                <link rel="stylesheet" href="{{ asset('Resources/js/alertifyjs/css/themes/bootstrap.css') }}">
                
                
            {%- endblock %}
            {% block estilos -%}    
                {# Estilo de modal #}
                <style>
                    .ui-dialog{
                        border-radius: 0px;
                        border:0px;
                        padding:0px;
                    }
                    
                    .ui-dialog-titlebar{
                        border-radius: 0px;
                        border:0px;
                        background: #25BCE9;
                        padding:0px;
                    }
                    .ui-widget-overlay{
                        background:#111;
                    }
                    
                    
                    .ui-dialog-titlebar-close{
                        border:0px;
                        border-radius: 0px;
                        background: #FFF;
                        color:#000;
                        
                    }
                    
                    .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close{
                        background:#FFF;
                        color:#FFF;
                        border:0px;
                    }
                    
                    .ui-widget-overlay{
                        background: #222222;
                        opacity: 0.9;
                    }
                </style>
                
            {%- endblock %}
        {%- endblock%}
    </head>
    <body>
        {% block body -%}  
            <header>
                <!--Top Header: Begin-->
                {% block topheader %}
                    {% include ':Layout:top_header.html.twig'%}
                {% endblock %}
                <!-- Barra de navegacion -->
                {% block navigation %}
                    {% include ':Layout:navigation.html.twig'%}
                {% endblock %}
            </header>
            <!--Main index : Begin-->
           <main id="main_category">
                {% block headerpage %}
                   {# {% include ':Layout:header_page.html.twig'%}#}
                    <section class="header-page">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs">
                                    <h1 class="mh-title">
                                    {% block section %}{% endblock %}       
                                    </h1>
                                </div>
                                <div class="breadcrumb-w col-sm-9"> 
                                    <span>You are here:</span>
                                    <ul class="breadcrumb">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <span>{% block section2 %}{% endblock %}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock %}   
                {% block categories %}
                    <section class="category-w parten-bg">
                            <div class="container">
                                <div class="row">
                                    {% block sidebar %}
                                        {% include ':Layout:sidebar.html.twig'%}
                                            <div class="category-left-banner">
                                                <a href="#" title="category left banner">
                                                        {% block img_prom %}{% endblock %}
                                                </a>
                                            </div>
                                        </aside>
                                    {% endblock %}
                                    {% block contenido %}
                                        <section class="category grid col-sm-9 col-xs-12">
                                            
                                        </section>
                                    {% endblock %}    
                                </div>
                            </div>
                    </section>
                {% endblock %} 
                <div class="modal-center"></div>
                <div style="margin-bottom: 25px"></div>
            </main>
            <footer>
                {% block footer %}
                    {% include ':Layout:footer.html.twig'%}
                {% endblock %}
            </footer>
        {% endblock %}  
        
        
        
        {% block javascripts_step %}
            
            
            <script type="text/javascript" src="{{ asset('Resources/js/jquery/jquery-1.11.3.min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/bootstrap.min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/owl.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/js/Chart.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/doughnutit.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('Resources/js/slideshow/jquery.themepunch.revolution.js') }}"></script>   
            <script type="text/javascript" src="{{ asset('Resources/js/slideshow/jquery.themepunch.plugins.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('Resources/js/theme-home.js') }}"></script>  
            
            <script type="text/javascript" src="{{ asset('Resources/js/jquery-ui-1.10.4.custom.js') }}"></script>  
            
            <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
            <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
            <script type="text/javascript" src="{{ asset('Resources/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('Resources/validar/tipoparametro.js') }}"></script>   
            <script src="{{ asset('Resources/validar/tipocategoria.js') }}"></script>   
            <script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>   
            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script src="{{ asset('Resources/js/alertifyjs/alertify.js') }}"></script>

            <script>
                $(document).ready(function () {
                    //if ( $("#show-cart") ) {
                        $.post( "{{path('show-cart')}}", function( data ) {
                            //alert('aqui');
                            var draw = '';
                            draw+='<span class="mcart-icon dropdowSCIcon"><i class="fa fa-shopping-cart"></i><span class="mcart-dd-qty">' + data.cart.length + '</span></span>';
                            draw+='<div class="mcart-dd-content dropdowSCContent clearfix">';
                            
                            if(data.cart.length !== 0){
                                $.each( data.cart, function( key, value ) { 
                                    if(key <= 2) {
                                        if(key === 0) {
                                            draw+='<div class="mcart-item-w clearfix1">';
                                            draw+='<ul>';
                                            draw+= '<li class="mcart-item">';

                                        } else {
                                            draw+='<div class="mcart-item-w clearfix">';
                                            draw+='<ul>';
                                            draw+= '<li class="mcart-item iteam2">';
                                        }    

                                        draw+='<div class="row" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;">';
                                        //draw+='<div class="col-md-4"style="margin-top: 5px">';
                                        draw+='<img src="{{ asset('Photos/promotions/')}}' + value.image + '" alt="' + value.product + '" width="50px" height="50px">';
                                        //draw+='</div>';
                                        draw+='<div class="mcart-info">';
                                        draw+='<span class="mcart-name">' + value.product + '</span>';
                                        draw+='<br>';
                                        draw+='<span class="mcart-price">$ ' + parseFloat(value.monto).toFixed(2) + '</span>';
                                        //draw+='<span class="mcart-remove-item"><i class="fa fa-times-circle"></i></span>';
                                        draw+='</div>';
                                        draw+='</div>';
                                        draw+='</li>';
                                        draw+='</ul>';
                                        draw+='</div>';
                                    }
                                });
                            } else {
                                draw+='<div class="mcart-item-w clearfix1">';
                                draw+='<ul>';
                                draw+= '<li class="mcart-item">';
                                draw+='<div class="row" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;">';
                                draw+='<div class="mcart-info">';
                                draw+='<span class="mcart-name">No items</span>';
                                draw+='</div>';
                                draw+='</div>';
                                draw+='</li>';
                                draw+='</ul>';
                                draw+='</div>';
                            }
                            
                            draw+='<div style="margin-top: 15px"></div>';
                            draw+='<div class="mcart-links buttons-set clearfix pull-right">';
                            draw+='<a href="{{ path('orden_show') }}" class="gbtn mcart-link-cart">View Cart</a>';
                            draw+='</div>';
                        
                            
                            draw+='</div>';
                            
                            document.getElementById('show-cart').innerHTML = draw;                        
                        });
                    //}
                });
            </script>  
        {% endblock %}      
    </body>
</html>
