<!--Main Header: Begin-->
<section class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-4 col-xs-5 w-logo">
                <div class="logo hd-pd ">
                    <a href="{{ path('dg_general_index')}}">
                        <img src="{{ asset('Resources/images/logo.png') }}" alt="Expressions" width="170px" height="51px">
                    </a>
                </div>	
            </div>
            <div class="col-lg-7 col-md-8 col-xs-12 visible-md visible-lg">
                <nav id="main-menu" class="main-menu clearfix">
                    <ul>
                        <li class="level0 hd-pd">
                            <a href="{{ path('products_list')}}"><span style="color: #FFF;">Services/Products</span></a>
                        </li>
                       <li class="level0 hd-pd">
                           <a href="{{ path('dg_general_tshirt_printing')}}" title="T-Shirt Shop"><span style="color: #FFF;">T-Shirt Shop </span></a>
                        </li>
                        <li class="level0 hd-pd">
                            <a href="{{ path('dg_general_how_order')}}" title="How to order"><span style="color: #FFF;">How to order?</span></a>
                        </li>
                        {#<li class="level0 hd-pd">
                            <a href="{{ path('dg_general_about')}}" title="About Us">About Us</a>
                        </li>#} 
                        <li class="level0 hd-pd" title="Contact Us">
                            <a href="{{ path('dg_general_contact')}}"><span style="color: #FFF;">Contact Us</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-1 col-sm-offset-5 col-xs-offset-2 col-xs-2 visible-sm visible-xs mbmenu-icon-w">
                <span class="mbmenu-icon hd-pd">
                    <i class="fa fa-bars"></i>
                </span>
            </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerCS" style="margin-top: 22px">
                {% if not is_granted('ROLE_ADMIN') %}
                    <div class="cart-w SC-w hd-pd " id="show-cart" height="80px"></div>
                {% endif %}        
                {#<div class="search-w SC-w hd-pd ">
                    <span class="search-icon dropdowSCIcon">
                        <i class="fa fa-search"></i>
                    </span>
                    <div class="search-safari">
                        <div class="search-form dropdowSCContent">
                            <form method="POST" action="#">
                                <input type="text" name="search" placeholder="Search" />
                                <input type="submit" name="search" value="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
</section><!--Main Header: End-->