<!--Main Header: Begin-->
<section class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-4 col-xs-5 w-logo">
                <div class="logo hd-pd ">
                    <a href="{{ path('dg_general_index')}}">
                        <img src="{{ asset('Resources/images/logo.png') }}" alt="Expressions" width="170px" height="51px">
                    </a>
                </div>	
            </div>
            <div class="col-lg-7 col-md-8 visible-md visible-lg">
                <nav id="main-menu" class="main-menu clearfix">
                    <ul>
                        <li class="level0 parent col1 all-product hd-pd">
                            <a href="{{ path('products_list')}}"><span>Services/Products</span></i></a>
                        </li>
                       <li class="level0 hd-pd">
                            <a href="{{ path('dg_general_tshirt_printing')}}" title="T-Shirt Printing">T-Shirt Printing </a>
                        </li>
                        <li class="level0 hd-pd">
                            <a href="{{ path('dg_general_how_order')}}" title="How to order">How to order?</a>
                        </li>
                        <li class="level0 hd-pd">
                            <a href="{{ path('dg_general_about')}}" title="About Us">About Us</a>
                        </li> 
                        <li class="level0 hd-pd" title="Contact Us">
                            <a href="{{ path('dg_general_contact')}}">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-1 col-sm-offset-5 col-xs-offset-2 col-xs-2 visible-sm visible-xs mbmenu-icon-w">
                <span class="mbmenu-icon hd-pd">
                    <i class="fa fa-bars"></i>
                </span>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerCS">
                {% if app.user %}
                <div class="cart-w SC-w hd-pd " id="show-cart">
                    {#<span class="mcart-icon dropdowSCIcon">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="mcart-dd-qty">2</span>
                    </span>
                    <div class="mcart-dd-content dropdowSCContent clearfix">
                        <div class="mcart-item-w clearfix1">
                            <ul>
                                <li class="mcart-item">
                                    <img src="{{ asset('Resources/images/product/mcart-postcard.jpg') }}" alt="postcard cards">
                                    <div class="mcart-info">
                                        <a href="detail.html" class="mcart-name">Postcards Cards</a>
                                        <span class="mcart-qty">1 x </span>
                                        <span class="mcart-price">$ 10.09</span>
                                        <span class="mcart-remove-item">
                                            <i class="fa fa-times-circle"></i>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div style="margin-top: 15px"></div>
                        <div class="mcart-links buttons-set clearfix pull-right">
                            <a href="{{ path('orden_show') }}" class="gbtn mcart-link-cart">View Cart</a>
                        </div>
                    </div>#}
                </div>
                {% endif %}        
                {#<div class="search-w SC-w hd-pd ">
                    <span class="search-icon dropdowSCIcon">
                        <i class="fa fa-search"></i>
                    </span>
                    <div class="search-safari">
                        <div class="search-form dropdowSCContent">
                            <form method="POST" action="#">
                                <input type="text" name="search" placeholder="Search" />
                                <input type="submit" name="search" value="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
</section><!--Main Header: End-->