<!--Home Promotions Products : Begin -->
<section class="home-promotion-product home-product parten-bg">
    <div class="container">
        <div class="row">
            <div class="block-title-w">
                <h2 class="block-title">Promotions Products</h2> 
                <span class="icon-title">
                    <span></span>
                    <i class="fa fa-star"></i>
                </span>
            </div>
            <ul class="slider-w slider-owl">
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/1.jpg') }}" alt="Grouper Business card">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <span class="product-icon sale-icon">sale!</span>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">Grouper Business card</a> 
                        <div class="price-box">
                            <span class="normal-price">$ 9.00</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/2.jpg') }}" alt="New Brochures">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Add-to-cart" class="add-to-cart gbtn">
                                <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">New Brochures</a>
                        <div class="price-box">
                            <span class="normal-price">$ 9.80</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/3.jpg') }}" alt="Flyers Two Page">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <span class="product-icon new-icon">new!</span>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">Flyers Two Page</a> 
                        <div class="price-box">
                            <span class="special-price">$ 12.98</span>
                            <span class="old-price">$ 16.98</span> 
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/4.jpg') }}" alt="Business Card">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">Business Card</a> 
                        <div class="price-box">
                            <span class="normal-price">$ 9.80</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/eSliproser-postcard.jpg') }}" alt="eSliproser Postcards">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">eSliproser Postcards</a> 
                        <div class="price-box">
                            <span class="normal-price">$ 10.09</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{{ asset('Resources/images/product/263x263/holiday-postcard-2.jpg') }}" alt="Holiday Postcard 2">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                        <i class="fa fa-shopping-cart"></i> 
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                        <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                        <i class="fa fa-refresh"></i> 
                                </a> 
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                        <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                                <a href="#" title="product" class="product-name">Holiday Postcard 2</a> 
                                <div class="price-box">
                                        <span class="normal-price">$ 10.09</span>
                                </div>
                                        <div class="rating-box">  
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                </div>
                        </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/postcard-mailing-services.jpg') }}" alt="Postcard Mailing Services">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                            <a href="#" title="product" class="product-name">Postcard Mailing Services</a> 
                            <div class="price-box">
                                    <span class="normal-price">$ 10.09</span>
                            </div>
                            <div class="rating-box">  
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                            </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/holiday-postcard.jpg') }}" alt="Holiday Postcard">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">Holiday Postcard</a> 
                        <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/new-business-card.jpg') }}" alt="New Business Card">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <span class="product-icon new-icon">new!</span>
                    </div>
                    <div class="product-info">
                        <a href="#" title="product" class="product-name">New Business Card</a> 
                        <div class="price-box">
                                <span class="normal-price">$ 9.80</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
                <li class="pro-item">
                    <div class="product-image-action">
                        <img src="{{ asset('Resources/images/product/263x263/holiday-postcard-3.jpg') }}" alt="Holiday Postcard 3">
                        <div class="action">
                            <button type="button" data-toggle="tooltip" data-placement="top" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i> 
                            </button>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i> 
                            </a> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <a href="" title="product" class="product-name">Holiday Postcard 3</a> 
                        <div class="price-box">
                                <span class="normal-price">$ 10.09</span>
                        </div>
                        <div class="rating-box">  
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section><!--Home Promotions Products : End -->