<aside id="sidebar_cate" class="col-sm-3 hidden-xs">
    <h3 class="sidebar-title">DASHBOARD</h3>
    <ul id="cate_list" class="cate_list">
        {#<li class="level0 parent">
            <a href="#" title="Business Cards">
                <span>All Products</span>
                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
            </a>
            <ul class="level0">
                <li class="level1 nav-1-1 first item">
                    <a href="#" title="Premium Business Cards">
                            Premium Business Cards
                            <span class="count-item">(22)</span>
                    </a>
                </li>
                <li class="level1 nav-1-2 item">
                    <a href="#" title="Free Business Cards">
                            Free Business Cards
                            <span class="count-item">(45)</span>
                    </a>
                </li>
                <li class="level1 nav-1-3 item">
                    <a href="#" title="Die-Cut Business Cards">
                            Die-Cut Business Cards
                            <span class="count-item">(30)</span>
                    </a>
                </li>
                <li class="level1 nav-1-4 item">
                    <a href="#" title="Standard Business Cards">
                            Standard Business Cards
                            <span class="count-item">(25)</span>
                    </a>
                </li>
                <li class="level1 nav-1-5 item">
                    <a href="#" class="Personal Business Cards">
                            Personal Business Cards
                            <span class="count-item">(6)</span>
                    </a>
                </li>
                <li class="level1 nav-1-6 item">
                    <a href="#" title="Business Card Holders">
                            Business Card Holders
                            <span class="count-item">(11)</span>
                    </a>
                </li>
                <li class="level1 nav-1-7 item">
                    <a href="#" title="Networking Cards">
                            Networking Cards
                            <span class="count-item">(6)</span>
                    </a>
                </li>
                <li class="level1 nav-1-8 item">
                    <a href="#" title="Appointment Cards">
                            Appointment Cards
                            <span class="count-item">(11)</span>
                    </a>
                </li>
                <li class="level1 nav-1-9 last item">
                    <a href="#" title="Mommy Cards">
                            Mommy Cards
                            <span class="count-item">(24)</span>
                    </a>
                </li>
            </ul>
        </li> #}
        {#<li class="level0 parent">
            <a href="#" title="Business Cards">
                <span>Business Cards</span>
                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
            </a>
            <ul class="level0">
                    <li class="level1 nav-1-1 first item">
                        <a href="#" title="Premium Business Cards">
                                Premium Business Cards
                                <span class="count-item">(22)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-2 item">
                        <a href="#" title="Free Business Cards">
                                Free Business Cards
                                <span class="count-item">(45)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-3 item">
                        <a href="#" title="Die-Cut Business Cards">
                                Die-Cut Business Cards
                                <span class="count-item">(30)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-4 item">
                        <a href="#" title="Standard Business Cards">
                                Standard Business Cards
                                <span class="count-item">(25)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-5 item">
                        <a href="#" class="Personal Business Cards">
                                Personal Business Cards
                                <span class="count-item">(6)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-6 item">
                        <a href="#" title="Business Card Holders">
                                Business Card Holders
                                <span class="count-item">(11)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-7 item">
                        <a href="#" title="Networking Cards">
                                Networking Cards
                                <span class="count-item">(6)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-8 item">
                        <a href="#" title="Appointment Cards">
                                Appointment Cards
                                <span class="count-item">(11)</span>
                        </a>
                    </li>
                    <li class="level1 nav-1-9 last item">
                        <a href="#" title="Mommy Cards">
                                Mommy Cards
                                <span class="count-item">(24)</span>
                        </a>
                    </li>
            </ul>
        </li>#}
        <li class="level0">
            <a href="{{ path('orden_index') }}" title="Orders">
                <span class="nav-icon"><i class="fa fa-bars"></i></span>
                <span class="nav-text">Orders</span>
               {#<span class="count-item">(81)</span>#}
            </a>
        </li>
        <li class="level0">
            <a href="{{ path('categoria_index') }}" title="Products">
                <span class="nav-icon"><i class="fa fa-photo"></i></span>
                <span class="nav-text">Products</span>
            </a>
        </li>
        {#<li class="level0">
            <a href="#" title="Product categories">
                <span class="nav-icon"><i class="fa fa-cubes"></i></span>
                <span class="nav-text">Product categories</span>
            </a>
        </li>#}
        <li class="level0">
            <a href="{{ path('admin_parametro_index') }}" title="Product attributes">
                <span class="nav-icon"><i class="fa fa-check-square-o"></i></span>
                <span class="nav-text">Product attributes</span>
            </a>
        </li>
        {#<li class="level0">
            <a href="#" title="Sales">
                <span class="nav-icon"><i class="fa fa-cart-plus"></i></span>
                <span class="nav-text">Sales</span>
            </a>
        </li>#}
        <li class="level0">
            <a href="{{path('admin_promocion_index')}}" title="Promotions">
                <span class="nav-icon"><i class="fa fa-ticket"></i></span>
                <span class="nav-text">Promotions</span>
            </a>
        </li>
        <li class="level0">
            <a href="{{ path('admin_proveedor_index') }}" title="Providers">
                <span class="nav-icon"><i class="fa fa-truck"></i></span>
                <span class="nav-text">Providers</span>
            </a>
        </li>
        <li class="level0">
            <a href="{{ path('admin_producto_index') }}" title="Products">
                <span class="nav-icon"><i class="fa fa-folder-open"></i></span>
                <span class="nav-text">Raw materials</span>
            </a>
        </li>
        <li class="level0">
            <a href="{{ path('admin_usuario_index') }}" title="Users">
                <span class="nav-icon"><i class="fa fa-users"></i></span>
                <span class="nav-text">Users</span>
            </a>
        </li>
    </ul>
    <div class="category-left-banner">
        <a href="#" title="category left banner">
                <img src="{{ asset('Resources/images/banner/category/left-banner.jpg') }}" alt="Left banner">
        </a>
    </div>
</aside>