<!--Home slider : Begin-->
<section class="home-slidershow">
    <div class="slide-show">
        <div class="vt-slideshow">
            <ul>
                {% for key, row in carrusel %}
                    {% if loop.first %}
                        <li class="slide{{ key + 1 }}" data-transition="random" ><img src="{{ asset('Photos/Carousels/') }}{{ row.imagen }}" alt="" />
                            <div class="tp-caption lfr" data-x="right"  data-hoffset="-56" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div> 
                            <div class="tp-caption lfb" data-x="right"  data-hoffset="-15" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                                <span class="style2">
                                        Our A5 flyers and leaflets are our bestselling size.<br> 
                                        This is because they're perfect for potential prospects<br>  
                                        to carry around and are extremely cost effective. We<br> 
                                        currently have an offer of 1000 flyers and leaflets<br> 
                                        for only &pound; 24!
                                </span>
                            </div>
                        </li>
                    {% else %}
                        <li class="slide{{ key + 1 }}" data-transition="random" ><img src="{{ asset('Photos/Carousels/') }}{{ row.imagen }}" alt="" />
                            <div class="tp-caption lfr" data-x="left"  data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div> 
                            <div class="tp-caption lfb" data-x="left"  data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                                <span class="style2">
                                        Our A5 flyers and leaflets are our bestselling size.<br> 
                                        This is because they're perfect for potential prospects<br>  
                                        to carry around and are extremely cost effective. We<br> 
                                        currently have an offer of 1000 flyers and leaflets<br> 
                                        for only &pound; 24!
                                </span>
                            </div>
                        </li>
                    {% endif %} 
                {% endfor %}    
                {#<li class="slide2" data-transition="random" ><img src="{{ asset('Resources/images/slider/home/bg_slider_2.jpg') }}" alt="" />
                    <div class="tp-caption lfr" data-x="left"  data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div> 
                    <div class="tp-caption lfb" data-x="left"  data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                        <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br> 
                                This is because they're perfect for potential prospects<br>  
                                to carry around and are extremely cost effective. We<br> 
                                currently have an offer of 1000 flyers and leaflets<br> 
                                for only &pound; 24!
                        </span>
                    </div>
                </li>
                <li class="slide3" data-transition="random" ><img src="{{ asset('Resources/images/slider/home/bg_slider_3.jpg') }}" alt="" />
                    <div class="tp-caption lft" data-x="left"  data-hoffset="" data-y="170" data-start="800" data-speed="2000" data-endspeed="300"><span class="style1"><span class="textcolor">Flyers</span> & Leaflets</span></div> 
                    <div class="tp-caption lfb" data-x="left"  data-hoffset="" data-y="225" data-start="800" data-speed="2000" data-endspeed="300">
                        <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br> 
                                This is because they're perfect for potential prospects<br>  
                                to carry around and are extremely cost effective. We<br> 
                                currently have an offer of 1000 flyers and leaflets<br> 
                                for only &pound; 24!
                        </span>
                    </div>
                </li>#}
            </ul> 
        </div>
    </div>
</section>