<!--Top Header: Begin-->
<section id="top-header" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="top-links col-lg-7 col-md-6 col-sm-5 col-xs-6">
                <ul>
                    {#<li class="visible-md visible-lg">
                        <a href="{{ path('dg_my_account') }}">
                            <i class="fa fa-lock" title="Account"></i>
                            <!-- Account -->
                        </a>
                    </li>#}
                    {#<li class="hidden-xs">
                        <a href="{{ path('dg_my_account') }}" title="Sign Up and Login">
                            <i class="fa fa-user"></i>
                            <!-- Sign Up and Login -->
                        </a>
                    </li>#}
                    <li class="hidden-xs">
                        <a href="https://www.facebook.com/expressionsprint">
                            <i class="fa fa-facebook"></i>
                            <!-- Connect with facebook -->
                        </a>
                    </li>
                    {#<li class="hidden-xs">
                        <a href="#">
                            <i class="fa fa-twitter"></i> 
                        </a>
                    </li>#}
                    <li class="hidden-xs">
                        <a href="https://www.instagram.com/expressionsprint">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top-header-right f-right col-lg-5 col-md-6 col-sm-7 col-xs-6">
                <div class="w-header-right">
                    {% if app.user %}
                        <div class="block-currency">
                            <div class="currency-active">
                                <span class="currency-name">
                                    {{ app.user.persona }} <i class="fa fa-angle-down"></i>

                                </span>
                            </div>
                            <ul>
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('dg_my_account')}}" title="My Account">    
                                        <li>
                                            <span>My Account</span>
                                        </li>
                                    </a>
                                {% endif %}
                                
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_usuario_index')}}" title="Setting">
                                        <li>
                                            <span>Setting</span>
                                        </li>
                                    </a>
                                {% endif %}
                                
                                <a href="{{ path('admin_secured_logout')}}" title="Log Out">
                                    <li>
                                        <span>Log Out</span>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    {% else %}
                        <div class="block-currency">
                            <div class="currency-active">
                                <a href="{{ path('admin_secured_logout')}}" title="Sign in">
                                    <span class="currency-name">
                                        <i class="fa fa-user"></i> Sign in

                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {#<div class="language-w clearfix">
                        <div class="language-active">
                            <span class="language-name">Language: <span>English</span><i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                        <ul>
                            <li>
                                <a href="#" title="Select Australia language">
                                    <span>Australia</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Select Japan language">
                                    <span>Japan</span>
                                </a> 
                            </li>
                            <li>
                                <a href="#" title="Select France language">
                                    <span>France</span>
                                </a>
                            </li>
                        </ul>
                    </div> #}
                        
                    <div class="th-hotline">
                        <i class="fa fa-phone"></i>
                        <span>+323 3781554</span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section><!--Top Header: End-->