

{% block css %}
    
    
    <style>
        .parametros input{
{#            margin: 3%;#}
        }
        .parametros label{
            width: 145px;
            margin-left:10px;
            margin-right:10px;
        }
    </style>
    
{% endblock %}
    
{% block body %}
    

    {{ form_start(edit_form, {'action': path('categoria_edit',{'id':categorium.id})}) }}
    {{ form_errors(edit_form) }}
        <div >
            <div class="col-md-3 col-xs-3 text-right">
                Name:
            </div>
            <div class="col-md-9 col-xs-9">
                {{ form_widget(edit_form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
            
            
            {#<div class="col-md-6 text-right">
                Tipo categoria:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.tipoCategoria) }}
            </div>
            #}
            
            
            {#<div class="col-md-5 col-xs-5 text-right" style="margin-top: 20px;">
                Categoria:
            </div>
            <div class="col-md-7 col-xs-7" style="margin-top: 20px;">
                {{ form_widget(edit_form.categoria) }}
            </div>
            
            <div class="clearfix"></div>    #}      
            <div class="text-center">
                <div class="col-md-3 text-right" style="margin-bottom: 4px;">
                    Photo product:
                </div>   
                <div class="col-md-9 text-left" style=" margin-top: 10px;">
                    {{ form_widget(edit_form.file) }}
                </div>
            </div>
            <div class="clearfix"></div>    
            <div class="col-md-12 text-center" style="margin-top: 20px;">
                Attributes:
            </div>
            
            <div class="clearfix"></div>
            
            <div class="col-md-12 col-xs-12" style="margin-top: 20px;margin-bottom: 20px;">
                {{ form_widget(edit_form.parametro) }}

            </div>
            
            {#<div class="clearfix"></div>#}
            {#<div class="col-md-6 text-right">
                Formato plantilla:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.formatoPlantilla) }}
            </div>
            
            <div class="clearfix"></div>#}
            
            {#<div class="col-md-6 text-right">
                Detalle:
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ form_widget(form.detalleCategoria) }}
            </div>#}
            
        </div>
        
            
    
        <input type="submit" value="Edit" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>

    {{ form_end(edit_form) }}

{% endblock %}
