{% extends ':Layout:layout.html.twig' %}

{% block css -%}
    {{parent()}}
    <style>
        .acc-title.lg > div:nth-child(2)> a:hover >i {
            color: #000;
            opacity:0.6;
        }
    </style>
    
{% endblock %}

{% block section %}
    Products
{% endblock %}

{% block section2 %}
    Products
{% endblock %}

{% block img_prom %}
    {% if promotion['promotion'] %}
        <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
    {% else %}    
        <img src="http://placehold.it/263x263" alt="promotions">
    {% endif %}    
{% endblock %}

{% block contenido %}
    <div id="resultado"></div>
    <div class="acc-title lg">
        <div class="col-md-5 pull-left">
            <h3 class="" style="color:#FFF;">Products list</h3>
        </div>
        <div class="col-md-7 pull-right" >
            <a href="{{ path('categoria_new') }}" class="pull-right nuevo-registro" style="color:#FFF;">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
                
    
                
    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
{#                    <th>Id</th>#}
                    <th>Name</th>
                    <th>Attributes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categorium in categorias %}
                <tr>
{#                    <td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>#}
                    <td>{{ categorium.nombre }}</td>
                    <td>
                        {% for param in categorium.parametro%}
                            {% if loop.last %}
                                {{param.nombre}}
                            {% else %}
                                {{param.nombre}},
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="text-center edit-registro pull-right" style="margin-top: 3px;"  href="{{ path('categoria_edit', { 'id': categorium.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock %}

{% block javascripts_step %}
    {{parent()}}
    
    <script>
                $(document).ready(function(){
                    
                    $('.listados').DataTable({ 
                        searching:true,
                        "order":[[0, "desc"],[1,"desc"]],
                        "columnDefs": [
                               
                               { "orderable": false, "targets": 2 }
{#                               { "orderable": false, "targets": 3 }#}
                               //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                            ],
                        {#"language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    },          #}

                    });
                    $('.dataTables_filter').addClass('pull-right ');
                    {#var  input = $('.dataTables_filter').children('label').children('input');
                    input.attr('placeholder', 'Buscar...');
                    $('.dataTables_filter').children('label').html(input);            #}
{#                    $('.dataTables_filter').children('label').hide();#}
                    
{#                    $('.dataTables_filter').append('<span class="fa fa-search" id="labelid" aria-hidden="true" style="margin-left:10px;margin-top:7px;"></span>');#}
                    {#$('#labelid').on('click',function(){
                        $('.dataTables_filter').children('label').fadeToggle();
                        
                    });
                    $('#filterDatatables1').on('keyup', function(event) {
                        var filtro = $(this).val(); 
                        //alert(filtro);
                        $('#DataTables_Table_0_filter>label>input').val($(this).val());
                        $('#DataTables_Table_0_filter>label>input').keyup();

                    });#}
                    
                    $('.nuevo-registro').on("click",function(){
                        {#$( "#dialog" ).dialog();
                        return false;#}
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:30%; position:inherit; float:right; " src="{{ asset('Resources/images/89.gif') }}">');
                        
                        
                        var href = $(this).attr('href');
                        
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
 
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
 
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "New product",
                                resizable: false,
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.nuevo-registro').html(mas);
                            
                        });
 
                        
                        return false;
                    });
                    
                    
                    $(document).on("click", '.edit-registro',function(){
                        {#$( "#dialog" ).dialog();
                        return false;#}
                        var mas = $(this).children();
                        
                        $(this).html('<img style="width:25%; position:inherit; float:right; " src="{{ asset('Resources/images/89C.gif') }}">');
                        
                        var href = $(this).attr('href');
                        
                        ($('#resultado')) ? $('#resultado').remove():'';
 
                        // crear un elemento para colocar la información
                        var elem = $("<div id='resultado'></div>");
                        
                        //Agregar el elemento después de la clase records_list
                        elem.insertAfter($(".listados"));
{#                        return false;#}
                        // cargar mediante una llamada ajax la dirección que tiene href dentro de resultado 
                        $('#resultado').load(href, function(){
                            $(this).dialog({
                                modal: true, 
                                width: 600,
                                title: "Edit product",
                                resizable: false,
                                position: { 
                                    my: "center", 
                                    at: "center", 
                                    of: '.modal-center'
                                },
                                show: { effect: "fadeIn", duration: 800 }
                            });
                            $('.edit-registro').html(mas);
                            
                        });
                        
                        return false;
                    });
                    
                });

            </script>

{% endblock %}