{% extends ':Layout:layout.html.twig' %}

{% block css -%}
    {{parent()}}
    <style>
        .acc-title.lg > div:nth-child(2)> a:hover >i {
            color: #000;
            opacity:0.6;
        }
    </style>
    
{% endblock %}

{% block section %}
    Products & Services
{% endblock %}

{% block section2 %}
    Products & Services
{% endblock %}

{% block sidebar %}
    <aside id="sidebar_cate" class="col-sm-3 hidden-xs">
        <h3 class="sidebar-title">Category</h3>
        <ul id="cate_list" class="cate_list">
            <li class="level0">
                <a href="{{ path('products_list')}}" title="All products">
                    <span>All products</span>
                </a>
            </li>
            
            {% for type in types %}
                <li class="level0 parent">
                    <a href="#" title="{{ type.nombre }}">
                        <span>{{ type.nombre }}</span>
                        <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                    </a>
                    <ul class="level0">
                         {% for key, categorium in categorias %}
                            {% if categorium.categoria.id == type.id %} 
                                <li class="level1 nav-1-1 first item">
                                    {#<a href="" title="{{ categorium.nombre }}" id="{{ categorium.id }}"  class="productLink">#}
                                    <a title="{{ categorium.nombre }}" class="productLink" id="menu-{{ categorium.id }}">
                                        {{ categorium.nombre }}
                                        <span class="count-item">(22)</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            
        </ul>
    </aside>
{% endblock %}


{% block contenido %}
    <div id="resultado"></div>
    
    <section class="category grid col-sm-9 col-xs-12" id="contenidoProducto"> 
        <div class="top-toolbar row">
            <div class="col-md-3 col-sm-4 col-xs-4 type-filter">
                {#<span class="cate-filter-title hidden-xs">Product Type:</span>
                <div class="cate-filter-content">
                    <span class="current-filter hidden-xs">Select a type<i class="fa fa-angle-down"></i></span>
                    <span class="current-filter visible-xs">Type: <i class="fa fa-angle-down"></i></span>
                    <ul class="product-type-filter">
                        {% for type in types %}
                            <li>
                                <span>{{ type.nombre }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>#}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 industry-filter"></div>
            <div class="col-md-5 col-sm-4 col-xs-4 view-mode">
                <a href="#" class="active view-grid">
                    <i class="fa fa-th"></i>
                </a>
                <a href="#" class="view-list">
                    <i class="fa fa-th-list"></i>
                </a>
            </div>
        </div>
        <div class="row products-grid category-product" id="contenidoProductos">
            
            {% if registro %}
                <img src="{{ asset('Photos/promotions/')}}{{ registro.imagen }}" alt="{{ registro.nombre }}">
                <p class="">{{ registro.nombre }}</p>
            {% else %}      
                <ul>
                    {% for categorium in categorias %}
                    <li class="pro-item col-md-4 col-sm-6 col-xs-12">
                        <div class="product-image-action" height="292.5px">
                            <img src="{{ asset('Photos/promotions/')}}{{ categorium.imagen }}" alt="{{ categorium.nombre }}">
                            <div class="action">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to cart" class="add-to-cart gbtn" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i> 
                                </button>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist" class="add-to-wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="compare" class="add-to-compare">
                                    <i class="fa fa-refresh"></i> 
                                </a> 
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview" class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div> 
                        <div class="product-info">
                            <a title="{{ categorium.nombre }}" class="productLink product-name" id="prod-{{ categorium.id }}">{{ categorium.nombre }}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}    
        </div>    
    </section>
    
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('Resources/js/jquery.blockUI.js') }}"></script>  
    
    <script>
        var total = 0;
        $(document).ready(function () {
            
            
            $('.productLink').on('click', function(){
                $.blockUI(); 
                var idElem = $(this).attr('id');
                var idVal = idElem.split('-');
                var acum_attr = 0;
                var total_pagar = 0;
                
                
                $.post( "{{path('get_products')}}", { id: idVal[1] }, function( data ) {
                    var parametro = '';
                    var draw = '';
                    var total_attr = 0;
                    
                    $( "#contenidoProducto" ).hide();
                    draw+='<div class="row">';
                    draw+='<div class="col-md-12">';
                    draw+='<h1>' + data.categoria + ' > ' + data.nombre + '</h1>';
                    draw+='<hr>';
                    draw+='</div>';
                    draw+='</div>';
                    draw+='<div class="row">';
                    draw+='<div class="col-md-6">';
                    draw+='<img src="{{ asset('Photos/promotions/')}}' + data.imagen + '" title="' + data.nombre + '" width="100%">';
                    draw+='</div>';
                    draw+='<div class="col-md-6 well" id="configure-price">';
                    
                    draw+='<div class="row" id="title-attributes">';
                    draw+='<h4 class="text-center" style="color:#25bce9">CONFIGURE & PRICE</h4>';
                    draw+='</div>';
                    draw+='<hr>';
                    draw+='<form id="fileupload" action="{{ path('admin_carrito_order') }}" method="POST" enctype="multipart/form-data">';
                    draw+='<div class="row" id="info-attributes"  style="margin-bottom: 15px">';
                    total_attr = data.parametros.length;
                    
                    $.each( data.parametros, function( key, value ) {
                        draw+='<div class="col-md-5" style="margin-bottom: 3px">';
                        parametro = value.parametro;
                        draw+='<p>' + parametro + '</p>';
                        draw+='</div>';
                        draw+='<div class="col-md-7" style="margin-bottom: 3px">';
                        draw+='<select class="attributes-inf form-control" id="attributes-' + value.idParam + '" name="attributes-' + value.idParam + '">';
                        draw+='<option value="0" disabled selected >Select an option ...</option>';
                        
                        $.post( "{{path('get_attributes_info')}}", { id: value.idParam }, function( val ) {
                            $.each( val.paramsVal, function( clave, valor ) {
                                if(value.idParam === valor.parametro) {
                                    var opcion = '<option value="' + valor.idValorParam + '">' + valor.valorParam + '</option>';
                                    //total_pagar+=valor.precio
                                    $('#attributes-'+ value.idParam ).append(opcion);
                                }
                            });
                            acum_attr++;
                            if(acum_attr === total_attr) {
                                $( "#contenidoProducto" ).show();
                                $(".attributes-inf").select2();
                                
                                $(".attributes-inf" ).change(function() {
                                    total_pagar = 0;
                                    var acum = 0;
                                    var total_price = $(".attributes-inf").length;
                                    
                                    $('.printing-cost').children().children().html('<img style="width:35%; position:inherit; float:right; " src="{{ asset('Resources/images/712.gif') }}">');
                                    //console.log($(".attributes-inf").val());
                                    $(".attributes-inf").each(function(k, va) {
                                        var aux = 0;
                                        if($(this).val() !== null) {
                                            aux = $(this).val();
                                        }
                                        
                                        $.post( "{{path('get_attributes_precio')}}", { id: aux }, function( det ) {
                                            acum++;
                                            //console.log(det.flag);
                                            if(det.flag === 0) {
                                                total_pagar+= 0;
                                            }
                                            else {
                                                total_pagar+= parseFloat(det.values[0].precio);
                                            }    
                                            total = total_pagar;
                                            //console.log(total_price+' - '+ acum_attr+ ' - '+ acum+' - '+ k );
                                            if(total_price === acum )
                                                $('.printing-cost').children().children().html('$ ' + total.toFixed(2));

                                        });
                                        
                                    });
                                });
                            }  
                        });
                        
                        draw+='</select>';
                        draw+='</div>';
                        draw+='<div class="clearfix"></div>';
                        
                    });   
                    draw+='<div class="col-md-5" style="margin-top: 20px"></div>';
                    draw+='<div class="col-md-7" style="margin-top: 20px">';
                    draw+='<div class="row">';
                    draw+='<div class="col-md-6"><p>Printing Cost:</p></div>';
                    draw+='<div class="col-md-6 printing-cost"><p class="text-right"><strong>$ ' + total_pagar.toFixed(2) +'</strong></p></div>';
                    draw+='</div>';
                    draw+='</div>';
                    draw+='<div class="clearfix"></div>';
                    draw+='<hr>';
                    
                    draw+='<div class="row">';
                    draw+='<div class="col-md-5" style="margin-top: 20px">';
                    draw+='<div class="row">';
                    draw+='<div class="col-md-11 col-md-offset-1">';
                    draw+='<p>Upload your design</p>';
                    draw+='</div>';
                    draw+='</div>';
                    draw+='</div>';
                    draw+='<div class="col-md-7" style="margin-top: 20px">';
                    draw+='<input type="file" name="file-design" id="file-design" />';
                    draw+='</div>';
                    draw+='<div class="clearfix"></div>';
                    draw+='<hr>';
                    
                    draw+='<div class="row">';
                    draw+='<div class="col-md-8  col-md-offset-2 pull-center" style="margin-top: 15px">';
                    draw+='<button type="submit" value="' + data.idproduct + '" class="btn btn-info form-control text-center" id = "order-now" name= "order-now"><span><i class="fa fa-cart-plus" style="color: #FFFFFF"></i></span> Add Cart<button>';
                    draw+='</div>';
                    draw+='</div>';
                    
                    draw+='</div>';
                    draw+='</form>';
                    draw+='</div>';
                    draw+='</div>';
                   //document.getElementById('printing-cost').innerHTML = total;                        
                    document.getElementById('contenidoProducto').innerHTML = draw;                        
                }, "json"); // Fin de post 
            });
            
        });   
        
        
        
        $(document).ajaxStop(function(){
            $.unblockUI();
        });
    </script>
{% endblock %}