{% extends ':Layout:layout.html.twig' %}

{% block css -%}
    {{parent()}}
    <style>
        .acc-title.lg > div:nth-child(2)> a:hover >i {
            color: #000;
            opacity:0.6;
        }
    </style>
    
{% endblock %}

{% block section %}
    Products & Services
{% endblock %}

{% block section2 %}
    Products & Services
{% endblock %}

{% block sidebar %}
    <aside id="sidebar_cate" class="col-sm-3 hidden-xs">
        <h3 class="sidebar-title">Category</h3>
        <ul id="cate_list" class="cate_list">
            <li class="level0">
                <a href="{{ path('products_list')}}" title="All products">
                    <span>All products</span>
                </a>
            </li>
            
            {% for type in types %}
                <li class="level0 parent">
                    <a href="#" title="{{ type.nombre }}">
                        <span>{{ type.nombre }}</span>
                        <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                    </a>
                    <ul class="level0">
                         {% for key, categorium in categorias %}
                            {% if categorium.categoria.id == type.id %} 
                                <li class="level1 nav-1-1 first item">
                                    {#<a href="" title="{{ categorium.nombre }}" id="{{ categorium.id }}"  class="productLink">#}
                                    <a href="{{ path('categoria_show', { 'id': categorium.id }) }}" title="{{ categorium.nombre }}" class="product-name" id="menu-{{ categorium.id }}">
                                        {{ categorium.nombre }}
                                        {#<span class="count-item">(22)</span>#}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            
        </ul>
        <div class="category-left-banner">
            <a href="#" title="category left banner">
                {% block img_prom %}
                    {% if promotion['promotion'] %}
                        <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
                    {% else %}    
                        <img src="http://placehold.it/263x263" alt="promotions">
                    {% endif %}    
                {% endblock %}
            </a>
        </div>    
    </aside>
{% endblock %}

{% block contenido %}
    <div id="resultado"></div>
    <section class="category grid col-sm-9 col-xs-12" id="contenidoProducto">
        <div class="row">
            <div class="acc-title lg">
                <div class="col-md-9 pull-left">
                    <h3 class="" style="color:#FFF;">{{ categorium.categoria.nombre }} > {{ categorium.nombre }}</h3>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 25px; margin-bottom: 50px;">
            <div class="col-md-6">
                <img src="{{ asset('Photos/promotions/')}}{{ categorium.imagen }}" alt="{{ categorium.nombre }}">
            </div>
            {% set total = 0 %}
            <div class="col-md-6 well" id="configure-price">
                <div class="row" id="title-attributes">
                    <h4 class="text-center" style="color:#25bce9; font-size: 20px;">CONFIGURE & PRICE</h4>
                </div>
                <hr>
                <form id="fileupload" action="{{ path('admin_carrito_order') }}" method="POST" enctype="multipart/form-data">
                    <div class="row" id="info-attributes"  style="margin-bottom: 15px">
                        {% for key, atributo in atributos %}
                            <div class="col-md-5" style="margin-bottom: 3px">
                                <p>{{ atributo.parametro }}</p>
                            </div>
                            <div class="col-md-7" style="margin-bottom: 3px">
                                <select class="attributes-inf form-control" id="attributes-{{ atributo.idParam }}" name="attributes-{{ atributo.idParam }}">
                                    <option value="0" disabled selected >Select an option ...</option>
                                    
                                    {% for opcion in opciones  if opcion[key].parametro == atributo.idParam %}
                                        <option value="{{ opcion[key].idValorParam }}">{{ opcion[key].valorParam }}</option>
                                    {% else %}
                                        <option value="0" disabled>No found</option>
                                    {% endfor %}    
                                </select>
                            </div>
                            <div class="clearfix"></div>    
                        {% else %}
                            <p class="text-center" style="font-size: 1.5em; font-weight: bold;">No attributes product found</p>
                        {% endfor %}    
                        
                        
                    </div>
                        <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5" style="margin-top: 20px">
                            <div class="col-md-7"><p>Printing Cost:</p></div>
                            <div class="col-md-5 printing-cost"><p class="text-right"><strong>$ {{ total|number_format(2, '.', ',') }}</strong></p></div>
                        </div>  
                    </div>  
                    <hr>
                    <div class="row">
                        <div class="col-md-5" style="margin-top: 20px">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <p>Upload your design</p>
                                </div>    
                            </div>    
                        </div> 
                        <div class="col-md-7" style="margin-top: 20px">
                            <input type="file" name="file-design" id="file-design" />
                        </div>    
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4  col-md-offset-2 pull-center" style="margin-top: 15px">
                            <a href="{{ path('products_list') }}">
                            <button type="button" value="" class="form-control text-center" style="background-color: #262626; color: #FFFFFF;" id = "orden-now" name= "orden-now"><span><i class="fa fa-chevron-left" style="color: #FFFFFF;"></i></span> Back</button>
                            </a>
                        </div>  
                        <div class="col-md-4 pull-center" style="margin-top: 15px">
                            <button type="submit" value="{{ categorium.id }}" class="btn btn-info form-control text-center" id = "orden-now" name= "orden-now"><span><i class="fa fa-cart-plus" style="color: #FFFFFF"></i></span> Add Cart</button>
                        </div>    
                          
                    </div>    
                </form>
            </div>    
        </div>
    </section>
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('Resources/js/jquery.blockUI.js') }}"></script>  
    <script src="{{ asset('Resources/js/validaciones/carrito_compras.js') }}"></script>
    <script>
        $(document).ready(function () {
            validar();
            $(".attributes-inf").select2();
            
            $(".attributes-inf" ).change(function() {
                var total_pagar = 0;
                var acum = 0;
                var total_price = $(".attributes-inf").length;
                $('.printing-cost').children().children().html('<img style="width:35%; position:inherit; float:right; " src="{{ asset('Resources/images/712.gif') }}">');
                
                $(".attributes-inf").each(function(k, va) {
                    if($(this).val() != null) {
                        acum++;
                    }    
                });
                
                $(".attributes-inf").each(function(k, va) {
                    var aux = 0;
                    if($(this).val() != null) {
                        aux = $(this).val();
                        $.post( "{{path('get_attributes_precio')}}", { id: aux }, function( det ) {
                            total_pagar+= parseFloat(det.values);
                            console.log(k);
                            if(k +1 ==  acum){
                                $('.printing-cost').children().children().html('$ ' + total_pagar.toFixed(2)); 
                            }    
                        });
                    }
                });
            });
            
        });
        
        $(document).ajaxStop(function(){
            $.unblockUI();
        });
    </script>    
{% endblock %}    