{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #formCheckout span{
            display:none;
        }
        
        #formCheckout label{
            display:none;
        }
        
            #payment-submit{
                float: right;
                background: #25BCE9;
                color: #FFF;
                border:0px;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            
            #payment-submit:hover{
                opacity: 0.7;
                
            }
            .form-row{
                width:100%;
            }
        #labelMonto{
            display: block;
        }
        .error{
            border:1px solid #F00;
            /*-webkit-box-shadow: 0px 0px 2px 0px rgba(255, 0, 0, 1);
            -moz-box-shadow:    0px 0px 2px 0px rgba(255, 0, 0, 1);
            box-shadow:         0px 0px 2px 0px rgba(255, 0, 0, 1);
            */
        }
    </style>
    <div class="container-fluid" style="margin-top:10px;">
        
            <div class="col-md-5"><label>Shipping address: </label> </div>
            <div class="col-md-6">
                <select id="selectDirecciones" class="form-control input-sm">
                    <option value="0">New address...</option>
                {% for dir in direcciones %}
                    <option value="{{dir.id}}"> {{dir.linea1}}, {{dir.linea2}}, {{dir.city}} {{dir.country}}</option>
                {% endfor %}
                </select>
            </div>
        
            
            
             
                
            <form name="payment-form" id="payment-form" method="post" action="http://localhost/siprint/web/app_dev.php/payment/stripe/execute">
        
            <div id="formnewaddress" class="row" style="margin: 50px 0;">
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Full Name:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_name" name="direccion[name]" maxlength="200" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Phone Number:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_phoneNumber" name="direccion[phoneNumber]" maxlength="25" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Line 1:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_linea1" name="direccion[linea1]" maxlength="150" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Line 2:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_linea2" name="direccion[linea2]" maxlength="150" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * City:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_city" name="direccion[city]" maxlength="150" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * State / Province / Region:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_state" name="direccion[state]" maxlength="150" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Country:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_country" name="direccion[country]" maxlength="100" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    * Zip Code:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_zipCode" name="direccion[zipCode]" maxlength="20" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    Security Access Code:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="direccion_securityAccessCode" name="direccion[securityAccessCode]" maxlength="255" class="form-control input-sm" type="text">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                    Save address:
                </div>
                <div class="col-md-6" style="margin-bottom: 4px;">
                    <input id="opcionguardaraddress" name="direccion[opcionguardar]" class="form-control" value="1" type="checkbox">
                </div>
                <div class="clearfix"></div>
                
            </div>

            </form>    
            
                
                
                
            </div>
        
        <div class="clearfix"></div>
        
            <div class="col-md-5" style="margin-top:20px;margin-bottom:20px;"><label>Payment method: </label> </div>
            <div class="col-md-6" style="margin-top:20px;margin-bottom:20px;">
                <select id="selectTarjetas" class="form-control input-sm">
                    <option value="0">New card...</option>
                {% for tar in tarjetas %}
                    <option value="{{tar.id}}">Card ending in:{% set numerotar = tar.numero|length %}{% for i in 0..(numerotar-5)%}{% endfor %}{{ tar.numero|slice(numerotar-4) }},{{tar.nombre}}</option>
                {% endfor %}
                </select>
            </div>
        
            

                <form name="payment-form" id="payment-form" method="post" action="http://localhost/siprint/web/app_dev.php/payment/stripe/execute">

                <div id="formnewcard" class="row" style="margin: 50px 0;">
                    <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                        * Number:
                    </div>
                    <div class="col-md-6" style="margin-bottom: 4px;">
                        <input id="tarjeta_numero" name="tarjeta[numero]" maxlength="20" class="form-control input-sm" type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                        * Name:
                    </div>
                    <div class="col-md-6" style="margin-bottom: 4px;">
                        <input id="tarjeta_nombre" name="tarjeta[nombre]" maxlength="200" class="form-control input-sm" type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                        * CVC:
                    </div>
                    <div class="col-md-6" style="margin-bottom: 4px;">
                        <input id="tarjeta_cvc" name="tarjeta[cvc]" required="required" maxlength="4" class="form-control input-sm" type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                        * Expiration date:
                    </div>
                    <div class="col-md-6" style="margin-bottom: 4px;">
                        <input readonly="readonly" id="tarjeta_expiracion" name="tarjeta[expiracion]" class="form-control input-sm calZebra" type="text">
                    </div>
                    <div class="clearfix" style=""></div>
                    
                    <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                        Save payment method:
                    </div>
                    <div class="col-md-6" style="margin-bottom: 4px;">
                        <input id="opcionguardarcard" name="tarjeta[payment]" class="form-control" value="1" type="checkbox">
                    </div>
                    
                    <script>
                        $(document).ready(function(){
                            $('.calZebra').Zebra_DatePicker({
                                format: 'm-Y',
                                show_clear_date:false,
                                direccion: 1,
                                show_select_today: "Today",
                                show_icon:false,
                                onSelect: function(){
                                    var expiracion = $('#tarjeta_expiracion').val();
                                    //alert(expiracion);
                                    var fecha = expiracion.split("-");
                                    //alert(fecha[0]);
                                    var dia=0;
                                    if(fecha[0]<10){
                                        dia= parseInt(fecha[0]);
                                        $('#stripe_view_credit_cart_expiration_month').val(dia);
                                    }
                                    else{
                                        $('#stripe_view_credit_cart_expiration_month').val(fecha[0]);
                                    }
                                    $('#stripe_view_credit_cart_expiration_year').val(fecha[1]);
                                },
                                //offset: [0,0]
                            });
                        });
                    </script>

                </div>
            </form>
            
        
        <div id="formCheckout" class="col-md-12 pull-right">
            {% block content %}
                <div class="payment-wrapper">
                    {{ stripe_render() }}
                </div>
            {% endblock content %}

            {% block foot_script %}
                {{ parent() }}
    {#            {{ stripe_scripts() }}#}
            {% endblock foot_script %}
        </div>
        
        
    </div>
    
{#    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>#}
    
    
    
{#
<form action="http://localhost/sistemaimpresion/web/app_dev.php/payment/stripe/execute" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_5FGIS4dcjWSR0X87vQO744MF"
    data-amount="{{monto}}"
    data-name="Demo Site"
    data-description="2 widgets (${{(monto/100)|number_format(2, '.', ',') }})"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>
#}


{#<script src="http://code.jquery.com/jquery-1.11.3.js"></script>#}
{#<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_5FGIS4dcjWSR0X87vQO744MF',
    image: '/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: '2 widgets',
      amount: 2000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

#}

{# Esto permite que al cargar el modal, se carga el form de stripe con los datos de la tarjeta #}
<script>
    $(document).ready(function(){
        direccionId= $('#selectDirecciones').val();   
        tarjetaId= $('#selectTarjetas').val();
        console.log(direccionId + '-' + tarjetaId);
        buscar(direccionId,tarjetaId);
        
        
        $('#selectTarjetas').on('change',function(){
            var idTar=$(this).val();
            var idDir=$('#selectDirecciones').val();
            if(idTar==0){
                $('#formnewcard').show();
            }
            else{
                
                $('#tarjeta_numero').val('');
                $('#tarjeta_nombre').val('');
                $('#tarjeta_cvc').val('');
                $('#tarjeta_expiracion').val('');
                
                $('#opcionguardarcard').prop('checked',false);
                
                $('#formnewcard').hide();
            }
            $('#stripe_view_address_new_address').val(idDir);
            $('#stripe_view_card_new_card').val(idTar);
        });
        
        
        $('#selectDirecciones').on('change',function(){
            var idDir=$(this).val();
            var idTar=$('#selectTarjetas').val();
            if(idDir==0){
                $('#formnewaddress').show();
            }
            else{
                
                $('#direccion_name').val('');
                $('#direccion_phoneNumber').val('');
                $('#direccion_linea1').val('');
                $('#direccion_linea2').val('');
                
                $('#direccion_city').val('');
                $('#direccion_state').val('');
                $('#direccion_country').val('');
                
                $('#direccion_country').val('');
                $('#direccion_zipCode').val('');
                $('#direccion_securityAccessCode').val('');
                
                $('#opcionguardaraddress').prop('checked',false);
                
                $('#formnewaddress').hide();
            }
            $('#stripe_view_address_new_address').val(idDir);
            $('#stripe_view_card_new_card').val(idTar);
            
        });
        
        if($('#selectDirecciones').val()==0){
            $('#formnewaddress').show();    
            $('#stripe_view_address_new_address').val($('#selectDirecciones').val());
        }
        
        if($('#selectTarjetas').val()==0){
            $('#formnewcard').show();
            $('#stripe_view_card_new_card').val($('#selectTarjetas').val());
        }
        
        
{#        $('#formCheckout').hide();#}
        
        $('#stripe_view_card_new_card').hide();
        $('#stripe_view_address_new_address').hide();
        $('#stripe_view_credit_cart').hide();
        $('#stripe_view_credit_cart_security').hide();
        $('#stripe_view_credit_cart_expiration_month').hide();
        $('#stripe_view_credit_cart_expiration_year').hide();
        $('#payment-submit').addClass('btn btn-success');
        $('#stripe_view_amount').val({{totalOrden*100}});
        $('#stripe_view_order').val({{ordenId}});
        
        
{#      Campos de direccion  #}
        $(document).on('keyup','#direccion_name',function(){
            var num = $(this).val();
            $('#stripe_view_address_full_name').val(num);
            $('#direccion_name').removeClass('error');
        });
        
        $(document).on('keyup','#direccion_phoneNumber',function(){
            var num = $(this).val();
            $('#stripe_view_address_phone_number').val(num);
            $('#direccion_phoneNumber').removeClass('error');
                
        });
        
        $(document).on('keyup','#direccion_linea1',function(){
            var num = $(this).val();
            $('#stripe_view_address_line1').val(num);
            $('#direccion_linea1').removeClass('error');
        });
        
        $(document).on('keyup','#direccion_linea2',function(){
            var num = $(this).val();
            $('#stripe_view_address_line2').val(num);
            $('#direccion_linea2').removeClass('error');
        });
        
        $(document).on('keyup','#direccion_city',function(){
            var num = $(this).val();
            $('#stripe_view_address_city').val(num);
            $('#direccion_city').removeClass('error');
        });
        
        $(document).on('keyup','#direccion_state',function(){
            var num = $(this).val();
            $('#stripe_view_address_region').val(num);
            $('#direccion_state').removeClass('error');
        });
        
        $(document).on('keyup','#direccion_country',function(){
            var num = $(this).val();
            $('#stripe_view_address_country').val(num);
            $('#direccion_country').addClass('error');
        });
        
        $(document).on('keyup','#direccion_zipCode',function(){
            var num = $(this).val();
            $('#stripe_view_address_zip_code').val(num);
            $('#direccion_zipCode').addClass('error');
        });
        
        $(document).on('keyup','#direccion_securityAccessCode',function(){
            var num = $(this).val();
            $('#stripe_view_address_security_code').val(num);
        });
        
        $(document).on('click','#opcionguardaraddress',function(){
            var num = $(this).is(':checked');
            $('#stripe_view_address_save_address').prop('checked',num);
        });
        
        
        $(document).on('click','#opcionguardarcard',function(){
            var num = $(this).is(':checked');
            $('#stripe_view_card_save_card').prop('checked',num);
        });
        
        
        $('#stripe_view_address_full_name').hide();
        $('#stripe_view_address_phone_number').hide();
        $('#stripe_view_address_full_name').hide();
        $('#stripe_view_address_line1').hide();
        $('#stripe_view_address_line2').hide();
        $('#stripe_view_address_city').hide();
        $('#stripe_view_address_region').hide();
        $('#stripe_view_address_country').hide();
        $('#stripe_view_address_security_code').hide();
        $('#stripe_view_address_zip_code').hide();
        $('#stripe_view_address_save_address').hide();
        
{#      Campos de pago  #}
        $(document).on('keyup','#tarjeta_numero',function(){
            var num = $(this).val();
            $('#stripe_view_card_number').val(num);
            $('#stripe_view_credit_cart').val(num);
        });
        
        $(document).on('keyup','#tarjeta_nombre',function(){
            var num = $(this).val();
            $('#stripe_view_card_full_name').val(num);
        });
        
        $(document).on('keyup','#tarjeta_cvc',function(){
            var cvc = $(this).val();
            $('#stripe_view_card_cvc').val(cvc);
            $('#stripe_view_credit_cart_security').val(cvc);
        });
        $('#stripe_view_card_full_name').hide(); 
        $('#stripe_view_card_number').hide(); 
        $('#stripe_view_card_cvc').hide(); 
        $('#stripe_view_card_fecha').hide();
        
        $('#stripe_view_card_save_card').hide();
        
        //$('#formnewcard').hide();
        //$('#formnewaddress').hide();
        
        $('#payment-submit').on('click', function(){
            var error=0;
            if(
                $('#selectDirecciones').val()==0 && ($('#direccion_name').val()=='' || $('#direccion_phoneNumber').val()==''
                || $('#direccion_linea1').val()=='' || $('#direccion_linea2').val()=='' || $('#direccion_city').val()==''
                || $('#direccion_state').val()=='' || $('#direccion_country').val()=='' || $('#direccion_zipCode').val()=='' )){
            
                $('#direccion_name').addClass('error');
                $('#direccion_phoneNumber').addClass('error');
                $('#direccion_linea1').addClass('error');
                $('#direccion_linea2').addClass('error');
                $('#direccion_city').addClass('error');
                $('#direccion_state').addClass('error');
                $('#direccion_country').addClass('error');
                $('#direccion_zipCode').addClass('error');
            
                error++;
            }
            if($('#selectTarjetas').val()==0 && ($('#tarjeta_numero').val()=='' || $('#tarjeta_nombre').val()==''
                    || $('#tarjeta_cvc').val()=='' || $('#tarjeta_expiracion').val()=='')){
                //alert();
                $('#tarjeta_numero').addClass('error');
                $('#tarjeta_nombre').addClass('error');
                $('#tarjeta_cvc').addClass('error');
                $('#tarjeta_expiracion').addClass('error');
                
                error++;
            }
            if(error!=0){
                return false;
            }
        });
        
        
        
        
        
        
        
    });
</script>
{% endblock %}
