{% extends ':Layout:layout.html.twig' %}

{% block section %}
    Orders
{% endblock %}

{% block section2 %}
    Orders
{% endblock %}

{% block contenido %}
    <h1>Orders list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orden in ordens %}
            <tr>
                <td>{{ orden.nombreProyecto }}</td>
                <td>{{ orden.direccionEnvio }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orden_show', { 'id': orden.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orden_edit', { 'id': orden.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orden_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
