{% extends ':Layout:layout.html.twig' %}

{% block section %}
    Store sales
{% endblock %}

{% block section2 %}
    Store sales
{% endblock %}

{% block sidebar %}
    {% include ':Layout:accountsidebar.html.twig'%}
        <div class="category-left-banner">
            <a href="#" title="category left banner">
                    {% block img_prom %}
                        {% if promotion['promotion'] %}
                            <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
                        {% else %}    
                            <img src="http://placehold.it/263x263" alt="promotions">
                        {% endif %}    
                    {% endblock %}
            </a>
        </div>
    </aside>
{% endblock %}

{% block contenido %}
    <div class="acc-title lg">
        <div class="col-md-8 pull-left">
            <h3 class="" style="color:#FFF;">Register new sale</h3>
        </div>
              
    </div>
    <div id="resultado"></div>
    <div class="form-edit-info" style="padding-top: 20px;">
       
            
        <form action="{{ path('admin_register_sale') }}" method="post" {{ form_enctype(form) }} >
             {{ form_start(form)  }}
            {{ form_errors(form) }}
        {#<form id="fileupload" action="{{ path('admin_register_sale') }}" method="POST" enctype="multipart/form-data">#}
                <div class="row" style="margin: 50px 0;">
                    <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 15px;">
                        Customer:
                    </div>
                    <div class="col-md-5 col-sm-5 radio-cu" style="margin-bottom: 15px;">
                        <label class="radio-inline"><input type="radio" name="customer" id="new-cu" value="cu-new" checked>New </label>
                        <label class="radio-inline"><input type="radio" name="customer" id="existing-cu" value="cu-exist">Existing </label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="customer-existing">
                        <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                            Customer name:
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                            {{ form_widget(form.cliente) }}
                        </div>
                    </div>
                    <div class="customer-new">
                        <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                            First name:
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                            <input id="first_name" name="cliente[first_name]" maxlength="200" class="form-control input-sm" type="text">
                        </div>
                        <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                            Last name:
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                            <input id="last_name" name="cliente[last_name]" maxlength="200" class="form-control input-sm" type="text">
                        </div>
                        <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                            Phone:
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                            <input id="phone" name="cliente[phone]" maxlength="200" class="form-control input-sm" type="text">
                        </div>
                    </div>
                    <div class="clearfix"></div>   
                    {#<hr class="hr-1">    
                    <div class="address-block">
                        
                        <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 15px;">
                            Address:
                        </div>
                        <div class="col-md-5 col-sm-5 radio-ad" style="margin-bottom: 15px;">
                            <label class="radio-inline"><input type="radio" name="address" id="new-ad" value="ad-new">New </label>
                            <label class="radio-inline"><input type="radio" name="address" id="existing-ad" value="ad-exist">Existing </label>
                        </div>
                        <div class="clearfix"></div>#}
                    
                        <div class="address-existing">
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                Full address:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                {{ form_widget(form.direccionEnvio) }}
                            </div>
                        </div>
                        {#<div class="address-new">
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Full Name:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_name" name="direccion[name]" maxlength="200" class="form-control input-sm" type="text">
                            </div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Phone Number:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_phoneNumber" name="direccion[phoneNumber]" maxlength="25" class="form-control input-sm" type="text">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Line 1:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_linea1" name="direccion[linea1]" maxlength="150" class="form-control input-sm" type="text">
                            </div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Line 2:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_linea2" name="direccion[linea2]" maxlength="150" class="form-control input-sm" type="text">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 City:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_city" name="direccion[city]" maxlength="150" class="form-control input-sm" type="text">
                            </div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 State / Province / Region:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_state" name="direccion[state]" maxlength="150" class="form-control input-sm" type="text">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Country:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_country" name="direccion[country]" maxlength="100" class="form-control input-sm" type="text">
                            </div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                 Zip Code:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_zipCode" name="direccion[zipCode]" maxlength="20" class="form-control input-sm" type="text">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-sm-2 text-right" style="margin-bottom: 4px;">
                                Security Access Code:
                            </div>
                            <div class="col-md-4 col-sm-4" style="margin-bottom: 4px;">
                                <input id="direccion_securityAccessCode" name="direccion[securityAccessCode]" maxlength="255" class="form-control input-sm" type="text">
                            </div>
                        </div>
                    </div>        
                    <div class="clearfix"></div>#}
                    <hr class="hr-2">
                    <div class="" style="height: 35px; margin-top: 10px;">
                        <div class="col-md-6 col-sm-6 text-right">
                            <span style="font-size: 1.5em;  font-weight: bold;">Printing cost:</span>
                        </div>
                        <div class="col-md-2 col-sm-2 printing-cost">
                            <span style="font-size: 1.5em;  font-weight: bold;">$ 0.00</span>
                        </div>
                    </div>
                    <hr>
                    <div class="" style="margin-top: 10px;">
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-right" style="margin-bottom: 4px;">
                                     Code promo:
                                </div>
                                <div class="col-md-8 col-sm-8" id = "num" name ="num">
                                    <select id="code-promo" name="code-promo" class="form-control input-sm">
                                        <option value="0" disabled selected>Select an option ...</option>
                                    {% for prom in promociones %}
                                        <option value="{{prom.id}}"> {{prom.nombre}}</option>
                                    {% endfor %}
                                    </select>
                                    {#<input id="code-promo" name="code-promo" maxlength="100" class="form-control" type="text" onblur = "validarPromocion();">#}
                                </div>
                                <div class="col-md-12 col-sm-12" id="capaError" style="color:red; visibility:hidden;"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-right" style="margin-bottom: 4px;">
                                    Upload file:
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input type="file" name="file-design" id="file-design" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <hr>
                    <div class="design-cat">
                        <div class="col-md-6 col-sm-6" style="margin-bottom: 4px;">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-right" style="margin-bottom: 4px;">
                                     Design:
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <select id="selectDesigns" name="selectDesigns" class="form-control input-sm">
                                        <option value="0" disabled selected>Select an option ...</option>
                                    {% for cat in categorias %}
                                        <option value="{{cat.id}}"> 
                                            {{cat.nombre}}
                                        </option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>        
                        <div class="col-md-6 col-sm-6 attributes-show">
                            <div class="row show-attr" id="show-attr"></div>
                        </div>    
                    </div>        
                </div>
                {#</div>#}
                <hr>    
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center" style="margin-bottom: 4px;">
                        <input type="submit" value="Register sale" style="margin-bottom: 10px;" class="btn-nuevo btn"/>
                    </div>    
                </div>    
                {{ form_end(form) }}
        </form>    
        
    </div>
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('Resources/js/jquery.blockUI.js') }}"></script>  
    
    <script src="{{ asset('Resources/js/validaciones/sale.js') }}"></script>
    <script>
        var total = 0;
        $(document).ready(function(){
            validar();   
            $('#orden_direccionEnvio').hide();
            $('.modal-center').hide();
            $("#code-promo").val('');
            $("#orden_cliente").select2();
            $("#code-promo").select2();
            $("#orden_direccionEnvio").select2();
            $("#selectDesigns").select2();
            $("#new-cu").prop("checked", true);
            $('.customer-existing').hide();
            $('.address-existing').hide();
            //$('.design-cat').hide();
            $('.radio-ad').hide();
            
            $( "#existing-cu" ).on( "click", function() {
                $('.hr-1').show();
                $('.address-new').show();
                $('.customer-new').hide();
                $('.customer-existing').show();
                $('.address-block').show();
                $('.radio-ad').show();
                $('.address-new').hide();
                $('.address-existing').hide();
            });

            $( "#new-cu" ).on( "click", function() {
                $('.hr-1').show();
                $('.customer-new').show();
                $('.radio-ad').hide();
                $('.customer-existing').hide();
                $('.address-block').show();
                $('.address-new').show();
                $('.address-existing').hide();
            });

            $( "#existing-ad" ).on( "click", function() {
                $('.address-new').hide();
                $('.address-existing').show();
            });

            $( "#new-ad" ).on( "click", function() {
                $('.address-new').show();
                $('.address-existing').hide();
            });
            
            $( "#selectDesigns" ).on( "change", function() { 
                var id = $( "#selectDesigns" ).val();
                var acum_attr = 0;
                var total_pagar = 0;
                var parametro = '';
                var draw = '';
                var total_attr = 0;
                var code_promo = $( "#code-promo" ).val();
                $('.attributes-show').children().html('<div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5" style="margin-top: 10px"><img style="width:60px; position:inherit; float:right; " src="{{ asset('Resources/images/712.gif') }}"></div>');
                
                $.post( "{{path('get_products_store')}}", { id: id, code: code_promo }, function( data ) {
                    $( ".show-attr" ).hide();
                    total_attr = data.parametros.length;
                    $.each( data.parametros, function( key, value ) {
                        draw+='<div class="col-md-5" style="margin-bottom: 3px">';
                        parametro = value.parametro;
                        
                        if(parametro == 'Quantity T-Shirt' ){
                            draw+='<p>Quantity</p>';
                        }    
                        else if(parametro == 'Size T-Shirt' ){
                            draw+='<p>Size</p>';
                        } else {    
                            draw+='<p>' + parametro + '</p>';
                        }
                        
                        draw+='</div>';
                        draw+='<div class="col-md-7" style="margin-bottom: 3px">';
                        draw+='<select class="attributes-inf form-control" id="attributes-' + value.idParam + '" name="attributes-' + value.idParam + '">';
                        draw+='<option value="0" disabled selected >Select an option ...</option>';
                        
                        $.post( "{{path('get_attributes_info')}}", { id: value.idParam }, function( val ) {
                            $.each( val.paramsVal, function( clave, valor ) {
                                if(value.idParam === valor.parametro) {
                                    var opcion = '<option value="' + valor.idValorParam + '">' + valor.valorParam + '</option>';
                                    //total_pagar+=valor.precio
                                    $('#attributes-'+ value.idParam ).append(opcion);
                                    
                                }
                            });
                            
                            acum_attr++;
                            
                            if(acum_attr === total_attr) {
                                $( ".show-attr" ).show();    
                                $(".attributes-inf").select2();
                                
                                $(".attributes-inf" ).change(function() {
                                    var code_promo = $( "#code-promo" ).val();
                                    total_pagar = 0;
                                    var acum = 0;
                                    var total_price = $(".attributes-inf").length;
                                    
                                    $('.printing-cost').children().html('<img style="width:30px; position:inherit; float:right; " src="{{ asset('Resources/images/712.gif') }}">');
                                    
                                    $(".attributes-inf").each(function(k, va) {
                                        var aux = 0;
                                        if($(this).val() !== null) {
                                            aux = $(this).val();
                                        }
                                        
                                        $.post( "{{path('get_attributes_precio')}}", { id: aux, code: code_promo }, function( det ) {
                                            acum++;
                                            
                                            if(det.flag === 0) {
                                                total_pagar+= 0;
                                            }
                                            else {
                                                total_pagar+= parseFloat(det.values[0].precio);
                                            } 
                                            //total = total_pagar;
                                            
                                            total = total_pagar - ((det.porcentaje * total_pagar)/100);
                                            //alert(total);
                                            if(total_price === acum )
                                                //alert(det.porcentaje);
                                                $('.printing-cost').children().html('$ ' + total.toFixed(2));
                                                //$('.printing-cost').children().html('$ ' + total_pagar.toFixed(2));
                                                validar();   
                                        });
                                        
                                    });
                                });
                                
                            }  
                        });
                        
                        draw+='</select>';
                        draw+='</div>';
                        draw+='<div class="clearfix"></div>';
                        
                    });  
                    
                    draw+='<div class="clearfix"></div>';
                 
                    
                    document.getElementById('show-attr').innerHTML = draw;                        
                    
                }, "json"); // Fin de post 
            });
            
        });
    </script>
    <script type="text/javascript">	
	function validarPromocion(){
            var capaError=document.getElementById("capaError");
            
            $.ajax({
              url:"{{path('valida_promocion_venta')}}",
              type: "POST",
              data:"promocion="+$("#code-promo").val(),
              success: function(respuesta){
                  if(respuesta.msj !== ""){
                      document.getElementById("code-promo").className = "form-group has-error col-md-8 col-sm-8";
                      capaError.innerHTML=respuesta.msj;
                      capaError.style.visibility="visible";
                      $("#code_promo").select();
                      $("#code_promo").focus();
                  }     
                  else{
                      document.getElementById("code-promo").className = "col-md-8 col-sm-8";
                      capaError.style.visibility="hidden";
                  }   
                       
              }
            });
	}
    </script>
{% endblock %}