{% extends ':Layout:layout.html.twig' %}

{% block section %}
    Store sales
{% endblock %}

{% block section2 %}
    Store sales
{% endblock %}

{% block img_prom %}
    <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
{% endblock %}

{% block contenido %}
    <div class="acc-title lg">
        <div class="col-md-5 pull-left">
            <h3 class="" style="color:#FFF;">List of sales at the store</h3>
        </div>
        <div class="col-md-7 pull-right" >
            <a id="accion" href="{{ path('admin_register_sale') }}" class="pull-right nuevo-registro" style="color:#FFF;" title="Register new sale">
                <i class="fa fa-plus"></i>
            </a>
        </div>        
    </div>
    <div id="resultado"></div>
    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
{#                    <th>Id</th>#}
                    <th>Date</th>
                    <th>Customer name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">January 29, 2016</td>
                    <td>Mario Vladimir Ayala Orellana</td>
                    <td class="text-right">$ 100.00</td>
                    <td>
                        {#<a class="text-center add-design pull-right" style="margin-top: 3px; margin-left: 5px;" title="add" href="{{ path('admin_parametro_edit', { 'id': parametro.id }) }}">
                            <i class="fa fa-folder-open"></i>
                        </a>#}
                        <a class="text-center view-sale pull-right" style="margin-top: 3px;" title="view detail" href="{#{{ path('admin_parametro_edit', { 'id': parametro.id }) }}#}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {#{% endfor %}#}
            </tbody>
        </table>

    </div>
{% endblock %}


{% block javascripts_step %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            $('.listados').DataTable({ 
                searching:true,
{#                        "order":[0, "desc"],#}
                "columnDefs": [
                   { "orderable": true, "targets": 0 }
{#                       { "orderable": false, "targets": 3 }#}
                       //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                ],                       
            });
            $('.dataTables_filter').addClass('pull-right ');
        });
    </script>
{% endblock %}