{% extends ':Layout:layout.html.twig' %}

{% block section %}
    Store sales
{% endblock %}

{% block section2 %}
    Store sales
{% endblock %}

{% block img_prom %}
    <img src="{{ asset('Photos/promotions/')}}{{ promotion['promotion'].imagen }}" alt="{{ promotion['promotion'].nombre }}">
{% endblock %}

{% block contenido %}
    <div class="acc-title lg">
        <div class="col-md-5 pull-left">
            <h3 class="" style="color:#FFF;">List of sales at the store</h3>
        </div>
        <div class="col-md-7 pull-right" >
            <a id="accion" href="{{ path('admin_register_sale') }}" class="pull-right nuevo-registro" style="color:#FFF;" title="Register new sale">
                <i class="fa fa-plus"></i>
            </a>
        </div>        
    </div>
    <div id="resultado"></div>
    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td class="text-center">{% if sale.fechaOrden %}{{ sale.fechaOrden|date('F d, Y') }}{% endif %}</td>
                    <td>{{ sale.cliente }}</td>
                    <td class="text-right">
                        {% set monto = 0 %}
                        {% for design in sale.detalleOrden %}
                            {% set monto = monto + design.monto %}
                        {% endfor %}
                        {% if sale.promocion %}
                            {% set monto = monto + ((sale.promocion.porcentaje * monto) / 100 ) %}
                        {% endif %}
                        $ {{ monto|number_format('2','.',',') }}
                    </td>
                    <td>
                        <a class="text-center view-sale pull-right" style="margin-top: 3px;" title="view detail" href="{#{{ path('admin_parametro_edit', { 'id': parametro.id }) }}#}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}


{% block javascripts_step %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            $('.listados').DataTable({ 
                searching:true,

                "columnDefs": [
                   { "orderable": true, "targets": 0 }
                ],                       
            });
            $('.dataTables_filter').addClass('pull-right ');
        });
    </script>
{% endblock %}