{% extends ':Layout:myaccountdashboard.html.twig' %}

{% block css -%}
    {{parent()}}
    <style>
        .acc-title.lg > div:nth-child(2)> a:hover >i {
            color: #000;
            opacity:0.6;
        }
    </style>
{% endblock %}

{% block section %}
    Orders
{% endblock %}

{% block section2 %}
    Orders
{% endblock %}

{% block titleAccount -%}Orders{% endblock %}

{% block contenido %}
    <div class="form-edit-info" style="padding-top: 20px;">
        <table class="listados table table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Date order</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.usuario.persona }}</td>
                    <td class="text-center">{% if order.fechaOrden %}{{ order.fechaOrden|date('m-d-Y') }}{% endif %}</td>
                    <td class="text-center">{% if order.estado == 'pa' %} Paid {% endif %}</td>
                    <td>
                        <div >
                            <button id="info" data-toggle="tooltip" data-container="body" title="Information" class="btn btn-default datatables1-actions " role="button">
                        <a class="text-center edit-registro" style="margin-top: 3px;"  href="{{ path('admin_orden_show', { 'id': order.id }) }}">
                            <i class="fa fa-info-circle"></i>
                        </a> 
                            </button>
                        </div>
                            <div style=" padding-left: 12px">  
                                <button id="exportar-pdf" data-toggle="tooltip" data-container="body" title="Exportar a PDF" class="btn btn-default datatables1-actions opciones" role="button">
                        <a  class=" pull-right export"  href="">
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                                </button>        
                            </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>            
                
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
    
    <script>
        $(document).ready(function(){

            $('.listados').DataTable({ 
                searching:true,
                "order":[[0, "desc"],[1,"desc"]],
                "columnDefs": [

                       { "orderable": false, "targets": 1 }
                ]
            });
            $('.dataTables_filter').addClass('pull-right ');

        });

    </script>

    <script>  
        $(document).ready(function(){          
            $('.opciones').click(function(){
                
                    var url = Routing.generate('report');
                    window.open(url,'_blank');
                
                
                });    
        });//Fin document ready        
    </script>
{% endblock %}