

{% block body %}
    

    {{ form_start(edit_form, {'action': path('admin_producto_edit',{'id':producto.id})}) }}
        {{ form_errors(edit_form) }}
        
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 text-right">
                Name:
            </div>
            <div class="col-md-7">
                {{ form_widget(edit_form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
            <div class="col-md-5 text-right" style="margin-top: 10px;">
                Provider:
            </div>
            <div class="col-md-7" style="margin-top: 10px;">
                {{ form_widget(edit_form.proveedor) }}
            </div>
        
            <div class="clearfix"></div>
        </div>
        
            
    
        <input type="submit" value="Edit" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>
{#</form>#}
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    
    <script>
                $(document).ready(function(){
{#                    validarTipoCategoria();#}
                    {#$('.btn-edit').on("click",function(){
                        //$(this).removeClass('btn-edit');
                    });#}
                    
                });

            </script>

{% endblock %}