

{% block body %}
    

    {{ form_start(form, {'action': path('admin_producto_new')}) }}
        {{ form_errors(form) }}
        
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 text-right">
                Name:
            </div>
            <div class="col-md-7">
                {{ form_widget(form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
            <div class="col-md-5 text-right" style="margin-top: 10px;">
                Provider:
            </div>
            <div class="col-md-7" style="margin-top: 10px;">
                {{ form_widget(form.proveedor) }}
            </div>
        
            <div class="clearfix"></div>
            
            {#<div class="col-md-5 text-right" style="margin-top: 10px;">
                Provider:
            </div>#}
            {#<div class="col-md-7" style="margin-top: 10px;">
                {{ form_widget(form.detalleparametro) }}
            </div>#}
        
            {#<div class="clearfix"></div>#}
        </div>
        
            
    
        <input type="submit" value="Create" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>
{#</form>#}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
   <script src="{{ asset('Resources/js/validaciones/raw_material.js') }}"></script>

    <script>
        $(document).ready(function(){
            validar();   
        });
    </script>
{% endblock %}  