

{% block body %}
    

{#    {{ form_start(form) }}#}
    {{ form_start(form, {'action': path('admin_tipoparametro_new')}) }}
{#<form action="{{ path('admin_tipoparametro_new') }}" method="post" {{ form_enctype(form) }}>#}
    {{ form_errors(form) }}
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 col-xs-5 text-right">
                Name:
            </div>
            <div class="col-md-7 col-xs-7">
                {{ form_widget(form.nombre) }}
            </div>
        
            <div class="clearfix"></div>
            
        </div>
        
            
    
        <input type="submit" value="Create" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>
{#</form>#}
    {{ form_end(form) }}

    {#<ul>
        <li>
            <a href="{{ path('admin_tipoparametro_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
{% block javascripts %}
    
    <script>
                $(document).ready(function(){
                    validarTipoParametro();
                    {#$('.btn-edit').on("click",function(){
                        //$(this).removeClass('btn-edit');
                    });#}
                    
                });

            </script>

{% endblock %}